:root {
   --sidebar-width: 16rem;
   --container-px: 1rem;
   --color-white: #ffffff;
   --color-black: #000000;
   --section-rowgap: calc(3rem + 1vw);

   @media (min-width: 768px) {
      --container-px: 1.5rem;
   }

   @media (min-width: 1200px) {
      --container-px: 2rem;
   }
}

[data-bs-theme=light] {
   --body-bg: #f1f2f2;
   --body-color: #373737;
   --sidebar-bg: #e9e8e8;
   --sidebar-color: var(--body-color);
   --img-default: inline;
   --img-invert: none;
}

[data-bs-theme=dark] {
   --body-bg: #181818;
   --body-color: #f1f2f2;
   --sidebar-bg: #212121;
   --sidebar-color: var(--body-color);
   --img-default: none;
   --img-invert: inline;
}

body {
   background-color: var(--body-bg);
   color: var(--body-color);
}

button {
   background-color: transparent;
   color: inherit;
   border-width: 0;
}

*::placeholder {
   color: inherit !important;
   opacity: .75 !important;
}

.text-reset {
   font-size: inherit !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   padding-left: var(--container-px);
   padding-right: var(--container-px);
}

.img-default {
   display: var(--img-default);
}
.img-invert {
   display: var(--img-invert);
}

.navbrand {
   display: flex;
}

#sidebar {
   background-color: var(--sidebar-bg);
   color: var(--sidebar-color);

   @media (min-width: 992px) {
      width: var(--sidebar-width);
      transform: none;
      visibility: visible;
      transition: none;
   }
   
   .menu-link {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      align-items: center;

      .menu-icon {
         width: 2rem;
      }

      &.toggle-collapse {
         position: relative;

         &::after {
            content: '\f078';
            font-family: 'FontAwesome';
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%) rotate(180deg);
            opacity: 1;
            transition: .3s ease-in-out;
         }
         
         &.collapsed::after {
            transform: translate(-100%, -50%) rotate(0deg);
            opacity: .5;
         }
      }
   }

   .submenu {
      padding-left: 2rem;
      padding-right: 0;
      margin-bottom: 1rem;
   }
}

.navbar {
   /* background-image: linear-gradient(to top, #4c0bce,#712cf9); */
   background-color: #712cf9;
   color: var(--color-white);

   @media (max-width: 991.98px) {
      .nav-link {
         opacity: 1;
      }
   }
}

.nav-link {
   color: inherit !important;
   opacity: .75;

   &:hover {
      opacity: 1;
   }
}

.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   @media (min-width: 992px) {
      padding-left: var(--sidebar-width);
   }

   .page-header, .page-footer {
      flex-grow: 0;
   }

   .page-body {
      flex-grow: 1;
      padding-top: var(--section-rowgap);
      padding-bottom: var(--section-rowgap);

      .page-section {
         display: flex;
         flex-direction: column;
         row-gap: var(--section-rowgap);
      }
   }
}

.dropdown {
   &:hover>.nav-link {
      opacity: 1;
   }

   @media (min-width: 992px) {
      &:hover>.dropdown-menu {
         display: block;
      }
   }

   .dropdown-menu {
      position: absolute;
      list-style: none;
      /* padding: 0; */
      margin: 0;
      z-index: 1000;
      left: unset;
      right: 0;
      overflow: hidden;
   }
}