:root {
   --bg-body: #ffffff;
   --color-body: #373737;
   /* --color-body: #000000; */
   --color-primary: #fd4f00;
   --color-light: #f1f2f2;
   --color-light-subtle: #d1d2d2;
   --color-dark: #565656;
   --color-dark-subtle: #656565;
   --border-color: var(--color-body);
   --border-opacity: 0.25;
   --container-px: 1rem;
}

body {
   color: var(--color-body);
   background-color: var(--bg-body);
}

h1, h2, h3, h4, h5, h6, p {
   font-size: inherit;
   margin: 0;
   line-height: inherit;
}

hr {
   margin: 0;
   border-left-width: 0;
   border-right-width: 0;
   border-bottom-width: 0;
   border-color: var(--border-color);
   opacity: var(--border-opacity);
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   color: inherit;
   background-color: transparent;
   border-width: 0;
   font-size: inherit;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   padding-left: var(--container-px);
   padding-right: var(--container-px);
}

.text-justify {
   text-align: justify;
   hyphens: auto;
   word-wrap: break-word;
}

.fs-small {
   font-size: small !important;
}

.btn, .btn-close, .nav-link, .form-control, .dropdown-menu {
   border-radius: 0 !important;
}

.nav-link, .btn {
   color: inherit;
   font-size: inherit;
   display: flex;
   align-items: center;
   column-gap: .325rem;
   text-transform: capitalize;
}

.nav-link>span {
   width: 100%;
}

.nav-divider>.nav-item {
   position: relative;
}
.nav-divider>.nav-item::after {
   content: '';
   height: 1.5em;
   border-right: solid 1px currentColor;
   opacity: var(--border-opacity);
   position: absolute;
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%)
}
.nav-divider>.nav-item:last-child::after {
   opacity: 0;
}

.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.page-header {
   flex-grow: 0;
}
.page-body {
   flex-grow: 1;
}
.page-footer {
   flex-grow: 0;
}

.jumbotron {
   background-color: var(--color-light-subtle);
}

.section-item {
   padding-top: 3rem;
   padding-bottom: 3rem;
   position: relative;
}
.section-item::before {
   content: '';
   width: 100%;
   border-top: solid 1px var(--border-color);
   opacity: var(--border-opacity);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   transform: translateY(-50%);
}

.footbar {
   background-color: var(--color-light);
}

.footbar address {
   margin: 0;

}

.footbar .nav-privacy {
   display: flex;
   flex-wrap: wrap;
   text-transform: capitalize;
   column-gap: 1.5rem;

   a {
      opacity: .75;
      position: relative;

      &::after {
         content: '';
         height: 1.5em;
         border-right: solid 1px var(--border-color);
         opacity: var(--border-opacity);
         position: absolute;
         top: 50%;
         left: calc(100% + .75rem);
         transform: translate(-50%, -50%);
      }
      &:last-of-type::after {
         opacity: 0;
      }

      &:hover {
         opacity: 1;
         text-decoration: underline;
      }
   }
}

.footbar .product-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   row-gap: .5rem;
   width: 18rem;
   max-height: 10rem;
   flex-wrap: wrap;
   text-transform: uppercase;

   &>li {
      width: 50%;
      position: relative;

      &::before {
         content: '\f054';
         font-family: 'FontAwesome';
         opacity: .5;
         font-size: .75em;
         margin-right: .5rem;
      }
   }
}

.nav-sosmed {
   display: flex;
   flex-wrap: wrap;
   column-gap: .75rem;

   a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      /* background-color: #fd4f00; */
      font-size: 1rem;
      position: relative;

      &::before {
         content: '';
         width: 100%;
         height: 100%;
         border-radius: 100%;
         border: solid 2px var(--color-dark);
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(1);
         opacity: 1;
         transition: .3s ease-in-out;
      }
      &:hover::before {
         transform: translate(-50%, -50%) scale(.5);
         opacity: 0;
      }

      &>.fab {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) scale(1);
         opacity: 1;
         transition: .3s ease-in-out;
      }
      &:hover>.fab {
         transform: translate(-50%, -50%) scale(1.75);
      }
   }
}


/* ========================================= min width MD */
@media (min-width: 768px) {
   .footbar address {
      max-width: 18rem;
   }
}


/* ========================================= min width LG */
@media (min-width: 992px) {
   .dropdown:hover>.dropdown-menu {
      display: block;
   }

   .section-item {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }
}/* end min width LG */


/* ========================================= min width XXl */
@media (min-width: 1400px) {
   .page-body {
      font-size: 1.15em;
   }
}