<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/about.css">
   <title>INDRACO &bull; About Us</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row row-cols-1 row-gap-5 row-cols-lg-2 gx-lg-5 align-items-lg-baseline">
                  <div class="col order-lg-2">
                     <h5 class="display-1 lh-1 mb-3 opacity-50">
                        <span class="fw-thin">Inovasi &</span> <br> Masa Depan
                     </h5>
                     <div class="ratio ratio-16x9 bg-whitesmoke overflow-images">
                        <img src="../assets/img/home-banner-default.jpeg" class="object-fit-cover w-100" alt="">
                     </div>
                  </div><!-- end col -->
                  <div class="col order-lg-1">
                     <h5 class="fs-3 mb-4 text-capitalize">
                        <b class="fw-medium">tentang kami</b>
                     </h5>
                     <p class="text-justify">
                        KAMI INDRACO - Berdiri sejak 1971, memproduksi dan mendistribusikan kopi, INDRACO terus bergerak maju dengan berekspansi ke beberapa fasilitas manufaktur yang canggih dan juga jalur-jalur distribusi di seluruh Indonesia dan Singapura. 
                        <br><br>
                        Berpengalaman dalam dunia kopi selama lebih dari setengah abad, INDRACO bertekad menghadirkan sebuah pengalaman dan kesan yang kuat untuk setiap langkah perjalanan konsumen kami. Lewat produk, jaringan retail hingga layanan F&B, kreativitas dan inovasi tetap menjadi inti perjalanan kami. 
                        <br><br>
                        Dengan lebih dari 11 brand dan 600 SKU dalam berbagai produk kopi, jahe, dan cokelat, kami terus tumbuh, berinovasi, dan tetap pada jalur tradisi yang diajarkan oleh para pendiri kami, para pelopor industri FMCG dan F&B yang kini maju.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row gx-lg-5 mx-lg-auto" style="max-width: 52rem;">
                  <div class="col col-12 col-lg-auto">
                     <h5 class="fs-3 mb-4 text-capitalize">
                        <b class="fw-medium">sejarah penting <br class="d-none d-lg-block"> perjalanan kami</b>
                     </h5>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg">
                     <div class="history-tree ps-3">
                        <div class="tree-item">
                           <header>1971</header>
                           <main>
                              <section class="fs-5"><b class="fw-medium">Didirikan</b></section>
                              <section>
                                 Pertama kali didirikan sebagai UD. Intisari, dengan gudang kecil di Riau, Indonesia 
                              </section>
                           </main>
                        </div><!-- end tree item -->
                        <div class="tree-item">
                           <header>1977</header>
                           <main>
                              <section class="fs-5"><b class="fw-medium">Ekspansi ke Surabaya</b></section>
                              <section>
                                 Menambahkan pabrik baru di Surabaya, Indonesia dan berganti nama menjadi "INDRACO".
                              </section>
                           </main>
                        </div><!-- end tree item -->
                        <div class="tree-item">
                           <header>1996</header>
                           <main>
                              <section class="fs-5"><b class="fw-medium">Pindah ke Gresik</b></section>
                              <section>
                                 Memindahkan semua operasi dan manufaktur ke Pabrik Indraco Driyorejo, yang terletak di Gresik, Indonesia, dengan tempat yang lebih besar untuk mengakomodasi permintaan yang terus meningkat.
                              </section>
                           </main>
                        </div><!-- end tree item -->
                        <div class="tree-item">
                           <header>2000</header>
                           <main>
                              <section class="fs-5"><b class="fw-medium">Integrasi</b></section>
                              <section>
                                 Mendirikan "Asiaterra" untuk menangani distribusi produk INDRACO di Indonesia.
                              </section>
                           </main>
                        </div><!-- end tree item -->
                        <div class="tree-item">
                           <header>2018</header>
                           <main>
                              <section class="fs-5"><b class="fw-medium">Ke Pasar Internasional</b></section>
                              <section>
                                 Mendirikan Supresso International di Singapura dan Malaysia guna mendistribusikan produk dan layanan kami di pasar global.
                              </section>
                           </main>
                        </div><!-- end tree item -->
                     </div><!-- end history tree -->
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row row-cols-1 row-gap-5 row-cols-lg-2 align-items-lg-baseline gx-lg-5">
                  <div class="col">
                     <h5 class="fs-3 mb-4">
                        <b class="fw-medium">VISI Kami</b>
                     </h5>
                     <p class="text-justify">
                        Menjadi sebuah perusahaan yang diakui secara global dan tumbuh secara optimal sekaligus menerapkan lima nilai utama kami: Fokus pada Konsumen, Kerja Sama, Integritas, Sumber Daya, dan Inovasi.
                     </p>
                  </div><!-- end col -->
                  <div class="col">
                     <h5 class="fs-3 mb-4">
                        <b class="fw-medium">MISI Kami</b>
                     </h5>
                     <p class="text-justify">
                        Menyediakan produk-produk berkelas, berkualitas top dengan harga yang kompetitif, yang sesuai bahkan melebihi apa yang dibutuhkan konsumen.
                     </p>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row row-cols-1 row-gap-5 row-cols-lg-2 gx-lg-5">
                  <div class="col">   
                     <div class="d-flex flex-column row-gap-4">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle rounded-icon">
                              <img src="../assets/img/about-customer-focus.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-3 text-uppercase mb-0">
                              <b class="fw-medium">fokus pada konsumen</b>
                           </h5>
                        </div>
                        <div>
                           <p class="text-justify">
                              Kami bekerja lebih untuk memuaskan konsumen-konsumen kami, sekaligus membangun hubungan baik dalam jangka panjang. Kami mengedepankan rasa percaya, kredibilitas dan loyalitas.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">   
                     <div class="d-flex flex-column row-gap-4">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle rounded-icon">
                              <img src="../assets/img/about-teamwork.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-3 text-uppercase mb-0">
                              <b class="fw-medium">kerja sama</b>
                           </h5>
                        </div>
                        <div>
                           <p class="text-justify">
                              Kami bersemangat untuk bekerja sama, menciptakan harmoni dan menyamakan visi. Kami saling mendorong potensi, menyebarkan empati dan menciptakan budaya kerja yang dicintai. 
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">   
                     <div class="d-flex flex-column row-gap-4">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle rounded-icon">
                              <img src="../assets/img/about-innovation.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-3 text-uppercase mb-0">
                              <b class="fw-medium">inovasi</b>
                           </h5>
                        </div>
                        <div>
                           <p class="text-justify">
                              Kami menanamkan mindset tumbuhnya ide-ide baru, bekerja sekuat tenaga dan menjadi lebih baik. Kami proaktif terhadap perubahan-perubahan dan senantiasa menanamkan semangat untuk maju.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">   
                     <div class="d-flex flex-column row-gap-4">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle rounded-icon">
                              <img src="../assets/img/about-integrity.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-3 text-uppercase mb-0">
                              <b class="fw-medium">integritas</b>
                           </h5>
                        </div>
                        <div>
                           <p class="text-justify">
                              Kami menjunjung tinggi nilai-nilai moral dan etika yang berlaku. Kami menanamkan rasa saling percaya dan menghormati dengan pelanggan dan rekan kerja, bersikap transparan, jujur dan menghargai martabat sesama. 
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="d-flex flex-column row-gap-4">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle rounded-icon">
                              <img src="../assets/img/about-resources.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-3 text-uppercase mb-0">
                              <b class="fw-medium">sumber daya</b>
                           </h5>
                        </div>
                        <div>
                           <p class="text-justify">
                              Kami mengembangkan kapasitas sebaik mungkin dengan mengoptimalkan sumber daya yang ada, teguh karya demi pencapaian cita-cita. Kami menghadapi setiap tantangan dengan rasa saling percaya.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative d-grid row-gap-5">
               <hr class="position-absolute top-0 w-100">
               <div>
                  <h5 class="fs-3 text-capitalize">
                     <b class="fw-medium">pabrik</b>
                  </h5>
               </div>
               <div>
                  <div class="row row-cols-1 row-gap-4 row-cols-lg-2 gx-lg-5 align-items-lg-center">
                     <div class="col order-lg-2">
                        <div class="ratio ratio-16x9 bg-whitesmoke">
                           <img src="../assets/img/about-bambe.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                     </div><!-- end col -->
                     <div class="col order-lg-1">
                        <address>
                           <h5 class="fs-5 text-uppercase">
                              <b class="fw-medium">PT. INDRACO GLOBAL INDONESIA</b>
                           </h5>
                           <p>
                              Driyorejo, Gresik Mfg. Facility <br><br>
                              Jl. Semeru Industri I No.133 - 135 Bambe, <br class="d-none d-lg-block"> Driyorejo Gresik 61177 - Indonesia 
                           </p>
                        </address>                        
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
               <div>
                  <div class="row row-cols-1 row-gap-4 row-cols-lg-2 gx-lg-5 align-items-lg-center">
                     <div class="col order-lg-2">
                        <div class="ratio ratio-16x9 bg-whitesmoke">
                           <img src="../assets/img/about-dumai.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                     </div><!-- end col -->
                     <div class="col order-lg-1">
                        <address>
                           <h5 class="fs-5 text-uppercase">
                              <b class="fw-medium">PT. INDRACO GLOBAL INDONESIA</b>
                           </h5>
                           <p>
                              Dumai Mfg. Facility <br><br>
                              Jl. Pemuda Darat no.11 Kel. Pangkalan Sesai <br class="d-none d-lg-block"> Dumai Barat 28824 - Riau
                           </p>
                        </address>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative d-grid row-gap-5 text-lg-end">
               <hr class="position-absolute top-0 w-100">
               <div>
                  <h5 class="fs-3 text-capitalize">
                     <b class="fw-medium">galeri ritel</b>
                  </h5>
               </div>
               <div>
                  <div class="row row-cols-1 row-gap-4 row-cols-lg-2 gx-lg-5 align-items-lg-center">
                     <div class="col">
                        <div class="ratio ratio-16x9 bg-whitesmoke">
                           <img src="../assets/img/about-singapore.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <address>
                           <h5 class="fs-5 text-uppercase">
                              <b class="fw-medium">SUPRESSO COFFEE GALLERY</b>
                           </h5>
                           <p>
                              Singapura <br><br>
                              RETAIL | WORKING SPACE <br> 333A Orchard Road #03-11 Mandarin Gallery <br class="d-none d-lg-block"> Singapore 238897
                           </p>
                        </address>                        
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
               <div>
                  <div class="row row-cols-1 row-gap-4 row-cols-lg-2 gx-lg-5 align-items-lg-center">
                     <div class="col">
                        <div class="ratio ratio-16x9 bg-whitesmoke">
                           <img src="../assets/img/about-surabaya.jpg" class="object-fit-cover w-100" alt="">
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <address>
                           <h5 class="fs-5 text-uppercase">
                              <b class="fw-medium">SUPRESSO COFFEE GALLERY</b>
                           </h5>
                           <p>
                              Surabaya <br><br>
                              RETAIL | WORKING SPACE <br> 333A Orchard Road #03-11 Mandarin Gallery <br class="d-none d-lg-block"> Singapore 238897
                           </p>
                        </address>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div>
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-about').addClass('show');
   </script>

</body>

</html>