<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Contact Us</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }

      .contact-list {
         li {
            display: flex;
            align-items: center;
            column-gap: .25rem;
            
            .span-link {
               min-width: 8rem;
            }
         }
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row">
                  <div class="col col-12 col-lg-8">
   
                     <div class="row row-gap-5">
                        <div class="col col-12">
         
                           <h5 class="fs-1 text-uppercase">
                              <b class="fw-medium">kontak</b>
                           </h5>
                           <p class="mb-5">
                              Kami mudah dijangkau dan akan senang mendengar kabar atau informasi dari Anda.
                           </p>
                           <form action="">
                              <div class="form-group mb-3">
                                 <label class="form-label">Nama</label>
                                 <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Masukkan Nama Lengkap Anda" type="">
                              </div>
                              <div class="form-group mb-3">
                                 <label class="form-label">Surel</label>
                                 <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Masukkan Surel Anda" type="">
                              </div>
                              <div class="form-group mb-3">
                                 <label class="form-label">No. Telepon</label>
                                 <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Masukkan Nomor Telepon Anda" type="">
                              </div>
                              <div class="form-group mb-3">
                                 <label class="form-label">Judul Pesan</label>
                                 <input class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0 shadow-none" placeholder="Tuliskan Judul Pesan" type="">
                              </div>
                              <div class="form-group mb-5">
                                 <label class="form-label">Isi Pesan</label>
                                 <textarea name="" id="" class="form-control rounded-0 border-start-0 border-top-0 border-end-0 px-0" rows="5"></textarea>
                              </div>
                              <div class="text-end">
                                 <button class="btn btn-lg btn-outline-dark rounded-0 px-4 w-100" style="max-width: 24rem;">
                                    <i class="fas fa-paper-plane"></i> Kirim
                                 </button>
                              </div>
                           </form> 
         
                        </div><!-- end col -->
                        <div class="col col-12">
                           <hr class="opacity-100">
                        </div><!-- end col -->
                        <div class="col col-12">
         
                           <address>
                              <h5 class="fs-5 mb-2">
                                 <b class="fw-medium">PT. Indraco Global Indonesia</b>
                              </h5>
                              <p class="mb-4">
                                 Jl. Semeru Industri 1 No.133-135 Bambe, <br class="d-none d-md-block"> Driyorejo, Gresik 61177 - Indonesia
                                 <br><br>
                                 <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 766 8777</a>, <a href="#" target="_blank">766 7388</a>
                                 <br>
                                 <b class="fw-medium">F</b>. <a href="#" target="_blank">+62 31 766 9590</a>
                                 <br>
                                 <b class="fw-medium">E</b>. <a href="#" target="_blank">info.@indraco.com</a>
                              </p>
                              <p class="mb-4">
                                 <a href="#" target="_blank">www.indraco.com</a>
                              </p>
                              <h5 class="mb-1">
                                 <b class="fw-medium">Sales Contacts Domestic</b>
                              </h5>
                              <ul class="list-unstyled contact-list mb-4">
                                 <li>
                                    <span class="span-link">General Trade</span> : <a href="#" target="_blank">getra@indraco.com</a>
                                 </li>
                                 <li>
                                    <span class="span-link">Modern Trade</span> : <a href="#" target="_blank">motra@indraco.com</a>
                                 </li>
                                 <li>
                                    <span class="span-link">E-Commerce</span> : <a href="#" target="_blank">ecom@indraco.com</a>
                                 </li>
                                 <li>
                                    <span class="span-link">Food Service</span> : <a href="#" target="_blank">fopro@indraco.com</a>
                                 </li>
                                 <li>
                                    <span class="span-link">F&B Service</span> : <a href="#" target="_blank">fobev@indraco.com</a>
                                 </li>
                              </ul>
                              <h5 class="mb-1">
                                 <b class="fw-medium">International</b>
                              </h5>
                              <ul class="list-unstyled contact-list">
                                 <li>
                                    <span class="span-link">International</span> : <a href="#" target="_blank">inbus@indraco.com</a>
                                 </li>
                              </ul>
                           </address>
                           
                        </div><!-- end col -->
                     </div><!-- end row -->
                     
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-contact').addClass('show');
   </script>

</body>

</html>