<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/landing.css">
   <title>INDRACO &bull; Roasting Fine Exquisite Coffee Since 1971.</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="jumbotron z-1">
               <div class="container h-100 d-flex align-items-center z-2 position-relative">
                  <div>
                     <h5 class="title display-3 fw-thin">
                        Innovation & <br> <b class="fw-medium">Future.</b>
                     </h5>
                  </div>
               </div><!-- end container -->
            </div>
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row row-gap-5 align-items-md-end justify-content-lg-between">
                  <div class="col col-12 col-md col-lg-7">
   
                     <h5 class="fs-3 mb-4"><b class="fw-medium">PT. Indraco Global Indonesia</b></h5>
                     <p class="text-justify">
                        Kami INDRACO - Dimulai pada tahun 1971 dengan gudang di Sumatera oleh pendiri kami, kami telah terus tumbuh dan berkembang menjadi beberapa fasilitas manufaktur canggih di seluruh Indonesia dan Singapura.
                        <br><br>
                        Di INDRACO, kami berusaha untuk berinovasi dalam industri yang selalu berubah dan dapat beroperasi dengan kecerdasan dan kreativitas yang dengan bangga kami bawa dan tanamkan dalam semua usaha kami, sejak momen pendirian kami. 
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-auto">
                     <div class="card text-bg-dark ratio ratio-1x1 rounded-4 ms-lg-auto" style="width: 18rem;">
                        <div class="card-body w-100 h-100 d-flex flex-column p-4">
                           <div class="flex-grow-1"><h5 class="lh-1 fw-thin" style="font-size: 3em;">Buletin <br> Kami</h5></div>
                           <div class="flex-grow-0">
                              <div class="input-group w-100 border-bottom border-light">
                                 <input type="email" class="form-control form-control-lg rounded-0 bg-transparent text-white border-0 px-0" placeholder="Alamat Email">
                                 <button class="btn btn-lg text-white p-0"><i class="fas fa-envelope"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="fs-3 mb-4"><b class="fw-medium">Fokus Usaha Kami</b></h5>
               <div class="row g-0 d-grid gap-3 gap-lg-4" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));">
                  <div class="col">
                     <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                        <div class="card-body p-4">
                           <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Jalur-jalur <br> Distribusi</b></h5>
                           <p class="card-text text-justify">
                              Kami mengandalkan sistem distribusi dengan beberapa jalur pendukung, membawa misi dan layanan kami ke seluruh penjuru negeri.
                           </p>
                        </div>
                     </div>   
                  </div><!-- end col -->
                  <div class="col">
                     <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                        <div class="card-body p-4">
                           <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Belanja <br> Online</b></h5>
                           <p class="card-text text-justify">
                              Portal belanja yang terintegrasi dengan user interface yang memudahkan konsumen mencari, memilih dan menikmati produk dan layanan kami.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="card w-100 h-100 bg-whitesmoke rounded-4 border-0">
                        <div class="card-body p-4">
                           <h5 class="card-title fs-4 mb-3"><b class="fw-medium">Layanan <br> F&B</b></h5>
                           <p class="card-text text-justify">
                              Layanan F&B yang kami jalankan menggunakan keahlian tim kami, berfokus pada pengalaman konsumen dalam menikmati makanan dan minuman.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <div class="row row-gap-4 justify-content-lg-between align-items-lg-center">
                  <div class="col col-auto">
                     <div>
                        <div id="customer-trust-card">
                           <h1 class="lh-1" style="font-size: calc(3.5em + .25vw);"> <span class="fw-thin">LEBIH DARI</span> <br> 1.000.000 +</h1>
                        </div>
                        <p style="font-size: 1.4em;">Pelanggan Mempercayai Kami</p>
                     </div>                     
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-7">
                     <p class="mb-3 text-justify">
                        Kami terus mengembangkan relasi bisnis dan terbuka untuk hubungan potensial yang saling menguntungkan di dalam lingkup lokal maupun internasional. Jika Anda memiliki tujuan dan misi yang sama, silakan hubungi kami. Setiap ide dan masukan dalam pengembangan bisnis akan sangat bernilai, dan kami harap dapat bekerjasama dengan Anda segera. 
                     </p>
                     <a href="contact.html" class="btn btn-outline-dark rounded-0 px-3">Hubungi Kami</a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row row-gap-4 align-items-center">
                  <div class="col">
                     <img src="../assets/img/home-shop.png" width="100%" height="auto" style="max-width: 24rem;" alt="">
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-7">
                     <p class="mb-3 text-justify">
                        INDRACO Store memberikan layanan yang memudahkan bagi para konsumen Indraco untuk mendapatkan berbagai produk mulai dari produk kopi, coklat, jahe dan semua yang diproduksi oleh Indraco. Semuanya bisa didapatkan hanya dengan beberapa langkah mudah dan sederhana, maka produk pesanan Anda akan kami kirimkan langsung ke rumah Anda. 
                     </p>
                     <a href="#" target="_blank" class="btn btn-outline-dark rounded-0 px-3">Pesan Sekarang</a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <header class="text-center" style="margin-bottom: 4rem;">
                  <h5 class="fs-3 mb-4"><b class="fw-medium">Hubungi Kami</b></h5>
                  <p class="lead">Kami mudah dijangkau dan akan senang mendengar kabar atau informasi dari Anda.</p>
               </header>
               <div class="contact-list d-grid gap-3 gap-sm-4 gap-xxl-5" style="grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));">
                  <div class="contact-item">
                     <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                        <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                           <div class="ratio ratio-1x1 w-50 mx-auto">
                              <img src="../assets/img/icon-office.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                           </div>
                        </div>
                        <div class="card-body p-0 flex-grow-0">
                           <h5 class="card-title m-0 fs-5">
                              <b class="fw-medium">Kantor</b>
                           </h5>
                        </div>
                        <div class="card-body p-0 flex-grow-1">
                           <p class="card-text">
                              <a href="#" target="_blank">
                                 Driyorejo, Gresik Mfg. Facility No. 66 Jl. Semeru Industri 1 No.133-135, Bambe, Driyorejo, Gresik 61177 - Indonesia.
                              </a>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="contact-item">
                     <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                        <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                           <div class="ratio ratio-1x1 w-50 mx-auto">
                              <img src="../assets/img/icon-phone.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                           </div>
                        </div>
                        <div class="card-body p-0 flex-grow-0">
                           <h5 class="card-title m-0 fs-5">
                              <b class="fw-medium">Telepon</b>
                           </h5>
                        </div>
                        <div class="card-body p-0 flex-grow-1">
                           <p class="card-text">
                              <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 9900 0033</a><br>
                              <b class="fw-medium">T</b>. <a href="#" target="_blank">+62 31 9900 0303</a><br>
                              <b class="fw-medium">F</b>. <a href="#" target="_blank">+62 31 9900 0075</a>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="contact-item">
                     <div class="card bg-whitesmoke h-100 border-0 rounded-4 text-center p-4 row-gap-4">
                        <div class="card-header p-0 border-0 bg-transparent flex-grow-0">
                           <div class="ratio ratio-1x1 w-50 mx-auto">
                              <img src="../assets/img/icon-envelope.svg" class="object-fit-contain w-50 start-50 translate-middle-x" alt="">
                           </div>
                        </div>
                        <div class="card-body p-0 flex-grow-0">
                           <h5 class="card-title m-0 fs-5">
                              <b class="fw-medium">Surel</b>
                           </h5>
                        </div>
                        <div class="card-body p-0 flex-grow-1">
                           <p class="card-text">
                              <a href="#" target="_blank">info@indraco.com</a>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->

   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $(document).ready(function() {
         $('.navbar').addClass('navbar-invert');
      });
   </script>

</body>

</html>