<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Administrator</title>
   <link rel="stylesheet" href="css/admin.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page">
      <header class="page-header">
         <nav class="navbar navbar-expand sticky-top">
            <div class="container column-gap-3">
               <button class="navbar-toggler d-block rounded-0 border-0 p-0 d-lg-none shadow-none" data-bs-toggle="offcanvas" data-bs-target="#menu">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <a href="admin.html" class="navbar-brand d-lg-none">
                  <img src="../../asset/img/icon-indraco.png" width="32" height="32" alt="">
               </a>
               <div class="navbar-collapse collapse">
                  <ul class="navbar-nav ms-auto column-gap-2 ms-lg-0 w-100 column-gap-xl-3">
                     <li class="nav-item me-lg-auto">
                        <a href="#" class="nav-link">
                           <i class="fas fa-search"></i>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link px-0">
                           <img src="../../asset/img/flag-eng.png" width="16" height="16" alt="">
                        </a>
                     </li>
                     <li class="nav-item dropdown">
                        <a data-bs-toggle="dropdown" href="#drop-themes" class="nav-link dropdown-toggle">
                           <i class="fas fa-circle-half-stroke"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" id="drop-themes">
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-circle-half-stroke"></i>
                                 <span>Auto</span>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-moon"></i>
                                 <span>Dark</span>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-sun"></i>
                                 <span>Light</span>
                              </a>
                           </li>
                        </ul>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link px-0">
                           <i class="fas fa-bell"></i>
                        </a>
                     </li>
                     <li class="nav-item dropdown">
                        <a data-bs-toggle="dropdown" href="#drop-user" class="nav-link dropdown-toggle">
                           <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" id="drop-user">
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-user-alt"></i> <span>Login</span>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-user-alt"></i> <span>Logup</span>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="dropdown-item">
                                 <i class="fas fa-user-alt"></i> <span>Logout</span>
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div><!-- end container -->
         </nav><!-- end navbar -->
         <aside class="offcanvas offcanvas-start sidebar small" z-index="-1" id="menu">
            <div class="offcanvas-header">
               <img src="../../asset/img/logo-indraco.png" style="max-width: 8rem;" width="100%" height="auto" alt="">
               <button data-bs-toggle="offcanvas" data-bs-target="#menu" class="btn-close d-lg-none rounded-0 shadow-none"></button>
            </div>
            <div class="offcanvas-body">
               <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                     <h5 class="text-reset">
                        <b class="fw-medium">
                           <small>Account</small>
                        </b>
                     </h5>
                     <ul class="nav flex-column">
                        <li class="nav-item">
                           <a href="#" class="nav-link px-0">
                              <i class="fas fa-gear"></i>
                              <span>Login</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link px-0">
                              <i class="fas fa-gear"></i>
                              <span>Logup</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link px-0">
                              <i class="fas fa-gear"></i>
                              <span>Logout</span>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link px-0">
                              <i class="fas fa-gear"></i>
                              <span>Subscribe</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="list-group-item px-0">
                     <h5 class="text-reset">
                        <b class="fw-medium">
                           <small>Settings</small>
                        </b>
                     </h5>
                  </li>
                  <li class="list-group-item px-0">
                     <h5 class="text-reset">
                        <b class="fw-medium">
                           <small>Grouping</small>
                        </b>
                     </h5>
                  </li>
               </ul>
            </div>
            <div class="offcanvas-header"></div>
         </aside><!-- end sidebar -->
      </header><!-- end page header -->
      <main class="page-body"></main><!-- end page body -->
      <footer class="page-footer">
         <div class="footbar">
            <div class="container">
               <hr>
               <p>
                  <small>
                     &copy; 2021 - <script>document.write(new Date().getFullYear())</script> INDRACO. Seluruh hak dilindungi undang-undang.
                  </small>
               </p>
            </div><!-- end container -->
         </div>
      </footer><!-- end page footer -->
   </div><!-- end page -->
</body>
</html>