:root {
   --bg-body: #ffffff;
   --color-body: #373737;
   --color-primary: #fd4f00;
   --color-light: #f1f2f2;
   --color-light-subtle: #d1d2d2;
   --color-dark: #565656;
   --color-dark-subtle: #656565;
   --border-color: var(--color-body);
   --border-opacity: 0.25;
   --container-px: 1rem;
}

.wrapper {
   background-color: var(--bg-body);
   color: var(--color-body);

   h1, h2, h3, h4, h5, h6, p {
      font-size: inherit;
      margin: 0;
   }

   .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding: 0 var(--container-px);
   }/* end container change value of padding left & right */

   .btn, .btn-close, .form-control, .dropdown-menu, .nav-link {
      border-radius: 0;
   }/* remove border radius on button etc. */

   .jumbotron {
      min-height: 100vw;
      background-color: var(--color-light-subtle);

      @media (min-width: 992px) {
         min-height: 640px;
      }
   }/* end custom jumbotron */

   .nav {
      text-transform: capitalize;

      .nav-link {
         color: inherit;
         opacity: 0.75;

         &:hover,
         &.active {
            opacity: 1;
         }

         &.active {
            color: var(--color-primary);
         }
      }
   }/* end custom nav */

   .nav-lg-breadcrumb>.nav-item {
      @media (min-width: 992px) {
         position: relative;

         &::after {
            content: '';
            height: 1.5em;
            border-right: solid 1px var(--border-color);
            opacity: var(--border-opacity);
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
         }

         &:last-of-type::after {
            opacity: 0;
         }
      }
   }/* end custom breadcrumb on nav ul */

   .small {
      font-size: .875em !important;
   }

   .text-justify {
      text-align: justify;
      word-break: normal;
      hyphens: auto;
      word-wrap: break-word;
   }

   .page {
      display: flex;
      flex-direction: column;

      .page-header {
         flex-grow: 0;
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 1030;

         #navtop {
            padding: 1rem 0;
            transition: all 0.3s ease-in-out;
            background-color: transparent;

            @media (min-width: 992px) {
               padding: 2rem 0 0;
            }

            &.on-scroll {
               transform: translate(0, -72px);

               @media (min-width: 992px) {
                  transform: translate(0, -76.45px);
               }
            }

            &.scrollTop {
               background-color: var(--bg-body);
            }
            
            &.dropmenu-show {
               @media (min-width: 992px) {
                  background-color: var(--bg-body);
               }
            }

            >.container {
               display: grid;
               grid-template-columns: 1fr auto 1fr;
               align-items: center;
               column-gap: 1rem;

               @media (min-width: 992px) {
                  grid-template-columns: auto 1fr;
                  column-gap: 2rem;
               }

               .nav-start {
                  @media (min-width: 992px) {
                     display: none;
                  }
               }

               .navbrand {
                  display: flex;

                  img {
                     max-width: 10rem;

                     @media (min-width: 992px) {
                        max-width: 14rem;
                     }
                  }
               }
            }/* end navtop top section */

            #toggler-search {
               display: flex;
               height: 100%;
               align-items: center;
            }

            #submenu {
               @media (min-width: 992px) {
                  margin-right: -1rem;
                  font-size: 0.875em;
               }
            }

            #menu {
               .offcanvas-body {
                  .menu-list {
                     @media (min-width: 992px) {
                        margin-left: -0.25rem;
                     }
      
                     .menu-link {
                        @media (min-width: 992px) {
                           padding: 2rem 1.25rem;
                        }
                     }

                     .dropdown {
                        >a.nav-link {
                           cursor: pointer;
                        }

                        .dropdown-menu {
                           width: 100%;
                           border: none;
   
                           @media (max-width: 991.98px) {
                              position: unset !important;
                              inset: unset !important;
                              margin: unset !important;
                              transform: none !important;
                           }
   
                           @media (min-width: 992px) {
                              position: fixed;
                              left: 0;
                              right: 0;
                              z-index: 100;
                              padding-top: 0;
                              padding-bottom: 2rem;
                              display: block !important;
                              opacity: 0;
                              visibility: hidden;
                              transition: all 0.3s ease-in-out;
                              /* overflow: hidden; */
                              /* height: 0; */
                           }
   
                           >.container-lg {
                              @media (max-width: 991.98px) {
                                 padding-right: 0;
                              }
                           }
   
                           header {
                              @media (max-width: 991.98px) {
                                 display: none;
                              }
                           }
   
                           .nav {
                              flex-direction: column;
   
                              .nav-link {
                                 padding-left: 0;
                                 padding-right: 0;

                                 @media (min-width: 992px) {
                                    min-width: 10rem;
                                 }

                                 >span {
                                    display: flex;
                                 }
                              }
                           }

                           .tab-menu {
                              flex-direction: column;

                              @media (min-width: 992px) {
                                 flex-direction: row;
                                 flex-wrap: nowrap;

                                 >.tab-menu-item:first-of-type {
                                    flex: 0 0 auto;
                                    width: auto;
                                 }

                                 .tab-menu-item {
                                    position: relative;

                                    &::before {
                                       content: '';
                                       height: 100%;
                                       border-left: solid 1px var(--border-color);
                                       opacity: var(--border-opacity);
                                       position: absolute;
                                       top: 0;
                                       left: 0;
                                       bottom: 0;
                                    }

                                    &:first-of-type::before {
                                       opacity: 0;
                                    }
                                 }
                              }

                              .tab-content {
                                 @media (max-width: 991.98px) {
                                    display: none;
                                 }
                              }

                              .menu-thumbnail {
                                 @media (min-width: 992px) {
                                    max-width: 28rem;
                                 }

                                 .ratio {
                                    background-color: var(--color-light);
                                    position: relative;
                                    background-image: url(../../../asset/img/no-images.png);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 75% auto;
                                    overflow: hidden;

                                    >img {
                                       transform: scale(1.125);
                                    }
                                 }
                              }
                           }
                        }/* end dropdown menu */

                        @media (min-width: 992px) {
                           &:hover>.dropdown-menu {
                              visibility: visible;
                              opacity: 1;
                              /* height: 32rem; */
                           }
                        }
                     }/* end dropdown */

                  }/* end menu list */
               }/* end offcanvas body */

               .offcanvas-header {
                  @media (max-width: 991.98px) {
                     &:last-of-type {
                        position: relative;
                        
                        &::before {
                           content: '';
                           width: 100%;
                           border-bottom: solid 1px var(--border-color);
                           opacity: var(--border-opacity);
                           position: absolute;
                           top: 0;
                           left: 0;
                           right: 0;
                        }
                     }
                  }
               }/* end offcanvas header last */
            }/* end menu */

            .nav-link {
               @media (max-width: 991.98px) {
                  padding-left: 0;
                  padding-right: 0;
               }
            }
         }/* end navtop */
      }/* end page header */

      .page-content {
         flex-grow: 1;

         @media (min-width: 1400px) {
            font-size: 1.175em;
         }

         .page-section {
            list-style: none;
            padding: 0;
            margin: 0;

            >.section-item {
               padding: 3rem 0;
               position: relative;

               @media (min-width: 992px) {
                  padding: 5rem 0;
               }

               &::before {
                  content: '';
                  width: 100%;
                  border-top: solid 1px var(--border-color);
                  opacity: var(--border-opacity);
                  position: absolute;
                  top: 0;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }

               &:first-of-type::before {
                  opacity: 0;
               }
            }
         }
      }/* end page content */

      .page-footer {
         flex-grow: 0;

         .footbar {
            background-color: var(--color-light);
            font-size: 0.875em;
         }/* end footbar */
      }/* end page footer */
   }/* end page */
}/* end wrapper */