:root {
   --sidebar-width: 14rem;
}

.text-reset {
   font-size: inherit;
   line-height: inherit;
}

.sidebar {
   @media (min-width: 992px) {
      transform: none !important;
      visibility: visible !important;
      width: var(--sidebar-width) !important;
   }
}

.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   @media (min-width: 992px) {
      padding-left: var(--sidebar-width);
   }

   .page-header {
      flex-grow: 0;
   }

   .page-body {
      flex-grow: 1;
      min-height: 480px;
   }

   .page-header {
      flex-grow: 0;
   }
}