/* ----------------------- page */
.navbar {

   .nav-link {
      border-radius: .325rem;
      background-color: transparent;
      transition: .3s ease-in-out;

      &:hover,
      &.show {
         background-color: var(--color-primary);
      }

      &.active {
         background-color: var(--color-primary-light);
      }

      @media (min-width: 992px) {
         position: relative;
         width: 7rem;
         height: 3.2rem;
         border-radius: .5rem;
         border: solid 2px currentColor;
         box-shadow: 0 0 0 rgba(0, 0, 0, .5);
         background-color: var(--color-primary);

         &>.link-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-family: 'HelveticaNeue Bold';
         }

         &>.link-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.25);
            text-align: center;
         }

         &:hover,
         &.active,
         &.show {
            background-color: var(--color-primary-light);
            box-shadow: .25rem .25rem .75rem rgba(0, 0, 0, .5);
         }

         &#nav-user {
            width: 3.2rem;
         }
      }
   }
}

/* end navbar */