.banner-wording {
   max-width: 23.75rem;
   font-size: calc(1rem + 1vw);
   
   @media (min-width: 1200px) {
      font-size: 1.875rem;
   }
}



#vacancy-list .list-group-item {
   position: relative;
   padding: 1rem 0;
}

.trigger-qualification {
   cursor: pointer;

   @media (min-width: 992px) {
      pointer-events: none;
   }
}

.trigger-apply {
   @media (min-width: 992px) {
      position: absolute;
      top: 1.25rem;
      right: 0;
      max-width: 16rem;
   }
}




.title-page {
   font-size: 1.75em;
}

.sosmed-list .input-group-text {
   width: 3rem;
   justify-content: center;
}

.pagination .page-link {
   border-radius: 0 !important;
   color: inherit;
}

.pagination .active .page-link {
   color: white;
   background-color: var(--color-dark);
}