<!DOCTYPE html>
<html lang="en">
<head>
   <script src="layout/head.js"></script>
   <title>INDRACO &bull; Administrator</title>
   <link rel="stylesheet" href="css/admin.css">
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page">
      <header class="page-header">
         <script src="layout/navbar-admin.js"></script>
         <script src="layout/sidebar-admin.js"></script>
      </header><!-- end page header -->
      <main class="page-body">
         <section class="mb-4">
            <div class="container">
               <div class="banner position-relative">
                  <div class="ratio rounded-1 overflow-hidden">
                     <img src="../asset/img/bg-admin.jpg" class="object-fit-cover" style="filter: grayscale(1) opacity(.875) brightness(.5);" alt="">
                  </div>
                  <div class="banner-caption">
                     <h5 class="display-5 text-white m-0">
                        <span class="fw-thin">Welcome</span> <br> Administrator
                     </h5>
                  </div>
               </div><!-- end banner -->
            </div><!-- end container -->
         </section>
         <section>
            <div class="container">
               <div class="row row-cols-1 row-cols-lg-2 row-gap-3 gx-lg-4 row-gap-lg-4">
                  <div class="col">
                     <div class="card">
                        <div class="card-header p-0">
                           <div class="ratio ratio-4x3"></div>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title">
                              card title
                           </h5>
                           <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="card">
                        <div class="card-header p-0">
                           <div class="ratio ratio-4x3"></div>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title">
                              card title
                           </h5>
                           <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col">
                     <div class="card">
                        <div class="card-header p-0">
                           <div class="ratio ratio-4x3"></div>
                        </div>
                        <div class="card-body">
                           <h5 class="card-title">
                              card title
                           </h5>
                           <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page body -->
      <footer class="page-footer">
         <div class="footbar">
            <div class="container">
               <hr>
               <p class="opacity-50">
                  <small>
                     &copy; 2021 - <script>document.write(new Date().getFullYear())</script> INDRACO. Seluruh hak dilindungi undang-undang.
                  </small>
               </p>
            </div><!-- end container -->
         </div>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   <script src="js/admin.js"></script>
   <script>
      $('.page-body').addClass('pt-0');
   </script>
</body>
</html>