<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/career.css">
   <title>INDRACO &bull; Career</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container position-relative">
               <script src="layout/career-banner.js"></script>
               <p class="text-justify my-4">
                  Kami mencari talenta-talenta untuk pekerjaan yang sesuai dalam berbagai tingkatan organisasi. Proses rekrutmen dilakukan secara selektif agar mendapat calon karyawan terbaik. Berikut alur proses rekrutmen di INDRACO GLOBAL INDONESIA mulai dari mengirimkan lamaran sampai ke tahap penerimaan karyawan. 
                  <!-- <br><br> Ketahui alur proses rekruitmen di INDRACO mulai dari mengirimkan lamaran sampai tahap penerimaan karyawan. -->
               </p>
               <div class="row row-cols-3 g-3 row-cols-md-5 justify-content-md-evenly">
                  <div class="col">
                     <figure class="figure text-center w-100">
                        <img src="../assets/img/icon-career-tahap1.svg" class="figure-img img-fluid w-50" alt="...">
                        <figcaption class="figure-caption lh-sm fs-6">
                           1. <br> Aplikasi Masuk
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col">
                     <figure class="figure text-center w-100">
                        <img src="../assets/img/icon-career-tahap2.svg" class="figure-img img-fluid w-50" alt="...">
                        <figcaption class="figure-caption lh-sm fs-6">
                           2. <br> Tes Tertulis & Tes Keahlian
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col">
                     <figure class="figure text-center w-100">
                        <img src="../assets/img/icon-career-tahap3.svg" class="figure-img img-fluid w-50" alt="...">
                        <figcaption class="figure-caption lh-sm fs-6">
                           3. <br> Interview
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col">
                     <figure class="figure text-center w-100">
                        <img src="../assets/img/icon-career-tahap4.svg" class="figure-img img-fluid w-50" alt="...">
                        <figcaption class="figure-caption lh-sm fs-6">
                           4. <br> Medical Checkup
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col">
                     <figure class="figure text-center w-100">
                        <img src="../assets/img/icon-career-tahap5.svg" class="figure-img img-fluid w-50" alt="...">
                        <figcaption class="figure-caption lh-sm fs-6">
                           5. <br> Selamat Bergabung
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">

               <!-- pilih salah satu sesuai ketersediaan lowongan -->
               <div class="text-center mb-5">
                  <h5 class="fs-3 lh-base mb-5">
                     Job Vacancies
                  </h5>
                  <!-- <h5 class="fs-3 lh-base mb-5 text-danger">
                     Sorry, we are not currently hiring!
                  </h5> -->
               </div>

               <div class="vacancy">
                  <header class="mb-5">
                     <div class="row row-cols-1 g-2 row-cols-md-2 gx-md-4 gx-xl-5">
                        <div class="col">
                           <div class="input-group bg-whitesmoke">
                              <input type="search" class="form-control border-0 rounded-0 bg-whitesmoke shadow-none" placeholder="Cari Pekerjaan">
                              <button class="btn border-0 rounded-0 shadow-none"><i class="fas fa-search"></i></button>
                           </div>
                        </div><!-- end col -->
                        <div class="col">
                           <select name="" id="" class="form-select bg-whitesmoke border-0 rounded-0">
                              <option value="0" selected>Saring Lowongan</option>
                              <option value="1">Divisi</option>
                              <option value="2">Kota</option>
                              <option value="3">Fresh Graduate</option>
                           </select>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </header>
                  <main>
                     <ul class="list-group list-group-flush mb-5" id="vacancy-list">
                        <li class="list-group-item border-secondary-subtle">

                           <div class="row row-cols-1">
                              <div class="col">
                                 <div data-bs-toggle="collapse" data-bs-target="#coll-vacancy1" class="trigger-qualification">
                                    <h5>
                                       <b class="fw-medium fs-3">Digital Marketing Staff</b> <br>
                                    </h5>
                                    <p class="small opacity-50 mb-0">
                                       Level : Fresh Graduate <br>
                                       Berlaku Hingga : 20 Apr 2025
                                    </p>
                                 </div>
                              </div><!-- end col -->
                              <div class="col">
                                 <div class="collapse d-lg-block" id="coll-vacancy1">
                                    <div class="row row-cols-1 row-gap-3 pt-4">
                                       <div class="col">
                                          <h5><b class="fw-medium">Kualifikasi :</b></h5>
                                          <ol class="mb-0">
                                             <li>Sarjana Min, IPK min 3,00, Semua Jurusan (Nutrisi/Kesehatan Masyarakat akan lebih diutamakan) - Usia maksimal 30 tahun</li>
                                             <li>Baik dalam Berpikir Analitis</li>
                                             <li>Baik dalam Keterampilan Komunikasi dan Interpersonal</li>
                                             <li>Baik dalam Keterampilan Presentasi</li>
                                             <li>Baik dalam Negosiasi dan Kerjasama Tim</li>
                                             <li>Aktif dalam organisasi, bermotivasi tinggi untuk bekerja, cepat belajar, berorientasi pada target</li>
                                             <li>Siap bekerja lintas kota dan memiliki SIM (SIM A)</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <h5><b class="fw-medium">Deskripsi Pekerjaan :</b></h5>
                                          <ol class="mb-0">
                                             <li>Menjelaskan produk kepada para Health Care Professional</li>
                                             <li>Mencapai target penjualan dan kunjungan yang efektif di institusi</li>
                                             <li>Mendapatkan jumlah pelanggan dan tingkatkan rekomendasi pelanggan terhadap produk</li>
                                             <li>Melaksanakan program promosi untuk branding dan meningkatkan endorsement di institusi</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <a href="career-form.html" class="btn btn-outline-dark rounded-0 w-100 trigger-apply">
                                             Apply
                                          </a>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </div>
                              </div><!-- end col -->
                           </div><!-- end row -->

                        </li><!-- end vacancy item -->
                        <li class="list-group-item border-secondary-subtle">

                           <div class="row row-cols-1">
                              <div class="col">
                                 <div data-bs-toggle="collapse" data-bs-target="#coll-vacancy2" class="trigger-qualification">
                                    <h5>
                                       <b class="fw-medium fs-3">Digital Marketing Staff</b> <br>
                                    </h5>
                                    <p class="small opacity-50 mb-0">
                                       Level : Fresh Graduate <br>
                                       Berlaku Hingga : 20 Apr 2025
                                    </p>
                                 </div>
                              </div><!-- end col -->
                              <div class="col">
                                 <div class="collapse d-lg-block" id="coll-vacancy2">
                                    <div class="row row-cols-1 row-gap-3 pt-4">
                                       <div class="col">
                                          <h5><b class="fw-medium">Kualifikasi :</b></h5>
                                          <ol class="mb-0">
                                             <li>Sarjana Min, IPK min 3,00, Semua Jurusan (Nutrisi/Kesehatan Masyarakat akan lebih diutamakan) - Usia maksimal 30 tahun</li>
                                             <li>Baik dalam Berpikir Analitis</li>
                                             <li>Baik dalam Keterampilan Komunikasi dan Interpersonal</li>
                                             <li>Baik dalam Keterampilan Presentasi</li>
                                             <li>Baik dalam Negosiasi dan Kerjasama Tim</li>
                                             <li>Aktif dalam organisasi, bermotivasi tinggi untuk bekerja, cepat belajar, berorientasi pada target</li>
                                             <li>Siap bekerja lintas kota dan memiliki SIM (SIM A)</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <h5><b class="fw-medium">Deskripsi Pekerjaan :</b></h5>
                                          <ol class="mb-0">
                                             <li>Menjelaskan produk kepada para Health Care Professional</li>
                                             <li>Mencapai target penjualan dan kunjungan yang efektif di institusi</li>
                                             <li>Mendapatkan jumlah pelanggan dan tingkatkan rekomendasi pelanggan terhadap produk</li>
                                             <li>Melaksanakan program promosi untuk branding dan meningkatkan endorsement di institusi</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <a href="career-form.html" class="btn btn-outline-dark rounded-0 w-100 trigger-apply">
                                             Apply
                                          </a>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </div>
                              </div><!-- end col -->
                           </div><!-- end row -->

                        </li><!-- end vacancy item -->
                        <li class="list-group-item border-secondary-subtle">

                           <div class="row row-cols-1">
                              <div class="col">
                                 <div data-bs-toggle="collapse" data-bs-target="#coll-vacancy3" class="trigger-qualification">
                                    <h5>
                                       <b class="fw-medium fs-3">Digital Marketing Staff</b> <br>
                                    </h5>
                                    <p class="small opacity-50 mb-0">
                                       Level : Fresh Graduate <br>
                                       Berlaku Hingga : 20 Apr 2025
                                    </p>
                                 </div>
                              </div><!-- end col -->
                              <div class="col">
                                 <div class="collapse d-lg-block" id="coll-vacancy3">
                                    <div class="row row-cols-1 row-gap-3 pt-4">
                                       <div class="col">
                                          <h5><b class="fw-medium">Kualifikasi :</b></h5>
                                          <ol class="mb-0">
                                             <li>Sarjana Min, IPK min 3,00, Semua Jurusan (Nutrisi/Kesehatan Masyarakat akan lebih diutamakan) - Usia maksimal 30 tahun</li>
                                             <li>Baik dalam Berpikir Analitis</li>
                                             <li>Baik dalam Keterampilan Komunikasi dan Interpersonal</li>
                                             <li>Baik dalam Keterampilan Presentasi</li>
                                             <li>Baik dalam Negosiasi dan Kerjasama Tim</li>
                                             <li>Aktif dalam organisasi, bermotivasi tinggi untuk bekerja, cepat belajar, berorientasi pada target</li>
                                             <li>Siap bekerja lintas kota dan memiliki SIM (SIM A)</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <h5><b class="fw-medium">Deskripsi Pekerjaan :</b></h5>
                                          <ol class="mb-0">
                                             <li>Menjelaskan produk kepada para Health Care Professional</li>
                                             <li>Mencapai target penjualan dan kunjungan yang efektif di institusi</li>
                                             <li>Mendapatkan jumlah pelanggan dan tingkatkan rekomendasi pelanggan terhadap produk</li>
                                             <li>Melaksanakan program promosi untuk branding dan meningkatkan endorsement di institusi</li>
                                          </ol>
                                       </div><!-- end col -->
                                       <div class="col">
                                          <a href="career-form.html" class="btn btn-outline-dark rounded-0 w-100 trigger-apply">
                                             Apply
                                          </a>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </div>
                              </div><!-- end col -->
                           </div><!-- end row -->

                        </li><!-- end vacancy item -->
                     </ul><!-- end vacancy list -->
                     
                     <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                           <li class="page-item disabled">
                              <a class="page-link">Previous</a>
                           </li>
                           <li class="page-item">
                              <a class="page-link" href="#">1</a>
                           </li>
                           <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2</a>
                           </li>
                           <li class="page-item">
                              <a class="page-link" href="#">3</a>
                           </li>
                           <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                           </li>
                        </ul>
                     </nav>
                  </main>
               </div><!-- end vacancy -->

            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-career').addClass('show');
   </script>

</body>

</html>