<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/businesses.css">
   <title>INDRACO &bull; Foodservice</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  kopi
               </h5>
               <p>
                  Dari Sumatra hingga Papua, seri kopi specialty Indonesia yang sudah terkenal ke mancanegara.
               </p>      
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  krimer
               </h5>
               <p>
                  Krimer berkualitas dengan standar produksi dan penjaminan mutu yang tinggi, untuk skala konsumsi rumah ataupun industri.
               </p>
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  teh
               </h5>
               <p>
                  Teh autentik Indonesia dengan pengalaman tradisi ngeteh yang kaya. Rasa yang kuat dengan tekstur yang lembut.
               </p>
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  jahe
               </h5>
               <p>
                  Minuman jahe premium yang memberikan kehangatan seimbang, kini tersedia dalam berbagai varian.
               </p>
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  cokelat
               </h5>
               <p>
                  Dipetik dari kebun kakao asli Indonesia, lini produk coklat kami mengutamakan rasa yang asli dengan tekstur yang lembut, kaya dan mewah.
               </p>
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <h5 class="display-4 lh-sm mb-3 text-capitalize">
                  gula
               </h5>
               <p>
                  Gula dan berbagai produk pemanis lainnya juga tersedia dalam berbagai tipe, ukuran dan skala produksi/bisnis.
               </p>
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-products-m, #nav-products-d').addClass('show');
   </script>

</body>

</html>