<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/products.css">
   <title>INDRACO &bull; Supresso</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-5 justify-content-center justify-content-lg-start" style="font-size: .875rem;">
                     <li class="breadcrumb-item"><a href="products.html">Products</a></li>
                     <li class="breadcrumb-item"><a href="products.html">Consumer</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Supresso</li>
                  </ol>
               </nav><!-- end breadcrumb -->
               <div class="row row-cols-1 text-center row-gap-3 row-cols-lg-auto text-lg-start justify-content-lg-between mb-4">
                  <div class="col order-lg-2">
                     <img src="../assets/img/logo-supresso.png" alt="" width="100%" height="auto" class="logo-header">
                  </div><!-- end col -->
                  <div class="col order-lg-1">
                     <h5 class="display-5 lh-sm">
                        <span class="fw-thin">Kopi</span> <br> Supresso
                     </h5>
                  </div><!-- end col -->
               </div><!-- end row -->
               <main>
                  <div class="product-list">
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                     <div class="product-item">
                        <script src="layout/card-products.js"></script>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </main>
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-products-m, #nav-products-d').addClass('show');
   </script>

</body>

</html>