<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/products.css">
   <title>INDRACO &bull; Supresso Sumatra Mandheling</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section>
            <div class="container py-5 position-relative">
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-5 justify-content-center justify-content-lg-start" style="font-size: .875rem;">
                     <li class="breadcrumb-item"><a href="products.html">Products</a></li>
                     <li class="breadcrumb-item"><a href="products.html">Consumer</a></li>
                     <li class="breadcrumb-item"><a href="products-brand.html">Supresso</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Sumatra Mandheling</li>
                  </ol>
               </nav><!-- end breadcrumb -->
               <div class="row row-cols-1 text-center">
                  <div class="col">
                     <div class="row row-cols-1 text-center row-gap-3 row-cols-lg-auto text-lg-start justify-content-lg-between">
                        <div class="col order-lg-2">
                           <img src="../assets/img/logo-supresso.png" alt="" width="100%" height="auto" class="logo-header">
                        </div><!-- end col -->
                        <div class="col order-lg-1">
                           <h5 class="display-5 lh-sm">
                              <span class="fw-thin">Kopi</span> <br> Supresso
                           </h5>
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </div><!-- end col -->
                  <div class="col">
                     <div class="row row-cols-1 row-gap-5">
                        <div class="col">
                           <h5 class="text-capitalize fs-3 lh-sm text-lg-start">
                              Sumatra Mandheling Drip Coffee 50g
                           </h5>
                        </div><!-- end col -->
                        <div class="col">
                           <div id="slider-detail-product" class="carousel slide" data-bs-ride="false">
                              <div class="carousel-inner">
                                 <div class="carousel-item bg-body bg-white active">
                                    <img src="../assets/img/product-sumatra-mandheling-drip-50(1).png" class="d-block img-slider" alt="...">
                                 </div>
                                 <div class="carousel-item bg-body bg-white">
                                    <img src="../assets/img/product-sumatra-mandheling-drip-50(2).png" class="d-block img-slider" alt="...">
                                 </div>
                                 <div class="carousel-item bg-body bg-white">
                                    <img src="../assets/img/product-sumatra-mandheling-drip-50(3).png" class="d-block img-slider" alt="...">
                                 </div>
                              </div>
                              <button class="carousel-control text-dark display-4 w-auto carousel-control-prev" type="button" data-bs-target="#slider-detail-product" data-bs-slide="prev">
                                 <span class="fas fa-chevron-left" aria-hidden="true"></span>
                                 <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control text-dark display-4 w-auto carousel-control-next" type="button" data-bs-target="#slider-detail-product" data-bs-slide="next">
                                 <span class="fas fa-chevron-right" aria-hidden="true"></span>
                                 <span class="visually-hidden">Next</span>
                              </button>
                              <p>
                                 <a href="#" class="btn btn-outline-dark rounded-0">
                                    <i class="fab fa-instagram"></i> Supresso
                                 </a>
                                 <br><br>
                                 Ikuti Supresso di Instagram dan nantikan promonya..!
                              </p>
                           </div>
                        </div><!-- end col -->
                        <div class="col">
                           <h5 class="fs-3 mb-2 lh-sm">Kopi Premium dengan Keaslian Rasa Indonesia</h5>
                           <p class="text-justify text-last-center">
                              Dengan biji kopi yang dipanen langsung dari Timur hingga Barat, koleksi kopi asli Indonesia dari Supresso memiliki tekstur, rasa dan aroma yang khas. Kami persembahkan kualitas kopi premium terbaik untuk semua pecinta kopi di seluruh dunia dalam bentuk beans, ground, drip, dan capsule. Pengalaman menikmati kopi dalam kemurniannya yang asli, hanya di Supresso.
                           </p>
                        </div><!-- end col -->
                        <div class="col">
                           <div class="accordion accordion-flush mb-5" id="accordion-product">
                              <div class="accordion-item border-dark">
                                 <h5 class="accordion-header">
                                    <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-ingredients" aria-expanded="true">
                                       <b class="fw-medium">Bahan-bahan</b>
                                    </button>
                                 </h5>
                                 <div id="collapse-product-ingredients" class="accordion-collapse collapse show" data-bs-parent="#accordion-product">
                                    <div class="accordion-body px-0">
                                       <p>20% Kopi Arabica & 80% Robusta</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item border-dark">
                                 <h5 class="accordion-header">
                                    <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-description" aria-expanded="false">
                                       <b class="fw-medium">Deskripsi</b>
                                    </button>
                                 </h5>
                                 <div id="collapse-product-description" class="accordion-collapse collapse" data-bs-parent="#accordion-product">
                                    <div class="accordion-body px-0">
                                       <ul class="list-group list-group-flush">
                                          <li class="list-group-item py-3 px-0 text-justify text-last-center">
                                             20% Kopi Arabica dan 80% Robusta. Komposisi 20/80 ini di-roast dengan mode City+ Roast dan hanya memakai biji kopi asli Indonesia. Tingkat keasamannya yang rendah dan karakter rasanya yang sedikit pahit, nuansa coklat dan natural melengkapi rasanya yang khas dan mewah. 
                                          </li>
                                          <li class="list-group-item py-3 px-0">
                                             CITY+ ROAST
                                          </li>
                                          <li class="list-group-item py-3 px-0">
                                             Nuansa cokelat - Natural - Rasa Biji Kopi Asli
                                          </li>
                                          <li class="list-group-item py-3 px-0">
                                             <div class="row g-0">
                                                <div class="col">
                                                   <h5 class="opacity-75 mb-2"><small>Tingkat Keasaman :</small></h5>
                                                   <p><span class="me-3">Low Acidity</span> <img src="../../../../resource/assets/img/level/level_3-5.svg" class="img-fluid" alt=""></p>
                                                </div><!-- end col -->
                                                <div class="col">
                                                   <h5 class="opacity-75 mb-2"><small>Tingkat Kekentalan :</small></h5>
                                                   <p><span class="me-3">Heavy Body</span> <img src="../../../../resource/assets/img/level/level_3-5.svg" class="img-fluid" alt=""></p>
                                                </div><!-- end col -->
                                             </div><!-- end row -->
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item border-dark">
                                 <h5 class="accordion-header">
                                    <button class="btn btn-lg rounded-0 border-0 py-3 w-100 fs-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-product-spesification" aria-expanded="false">
                                       <b class="fw-medium">Spesifikasi</b>
                                    </button>
                                 </h5>
                                 <div id="collapse-product-spesification" class="accordion-collapse collapse" data-bs-parent="#accordion-product">
                                    <div class="accordion-body px-0 text-start">
                                       <ul class="list-group list-group-flush small" id="spec-list">
                                          <li class="list-group-item px-0">
                                             <h5 class="fs-5 mb-3">
                                                <b class="fw-medium">Pallet Specifications</b> <br>
                                             </h5>
                                             <table class="table table-borderless table-sm w-auto">
                                                <tbody>
                                                   <tr>
                                                      <td>Content</td>
                                                      <td>:</td>
                                                      <td>40 cartons</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Net Weight</td>
                                                      <td>:</td>
                                                      <td>600 kg</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Gross Weight</td>
                                                      <td>:</td>
                                                      <td>660 kg</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Dimension</td>
                                                      <td>:</td>
                                                      <td>110 x 110 x 187 cm</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                          <li class="list-group-item px-0">
                                             <h5 class="fs-5 mb-3">
                                                <b class="fw-medium">Sea Freight Container Capacity - with Pallets</b> <br>
                                             </h5>
                                             <table class="table table-borderless table-sm w-auto">
                                                <tbody>
                                                   <tr>
                                                      <td>20 FT Container FCL</td>
                                                      <td>:</td>
                                                      <td>approx. 10 pallets</td>
                                                      <td>=</td>
                                                      <td>400 cartons</td>
                                                   </tr>
                                                   <tr>
                                                      <td>40 FT Container FCL</td>
                                                      <td>:</td>
                                                      <td>approx. 20 pallets</td>
                                                      <td>=</td>
                                                      <td>800 cartons</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                          <li class="list-group-item px-0">
                                             <h5 class="fs-5 mb-3">
                                                <b class="fw-medium">Sea Freight Container Capacity - without Pallets</b> <br>
                                             </h5>
                                             <table class="table table-borderless table-sm w-auto">
                                                <tbody>
                                                   <tr>
                                                      <td>20 FT Container FCL</td>
                                                      <td>:</td>
                                                      <td>approx. 590 cartons</td>
                                                   </tr>
                                                   <tr>
                                                      <td>40 FT Container FCL</td>
                                                      <td>:</td>
                                                      <td>approx. 1,260 cartons</td>
                                                   </tr>
                                                   <tr>
                                                      <td>40 FT HC Container FCL</td>
                                                      <td>:</td>
                                                      <td>approx. 1,420 cartons</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                          <li class="list-group-item px-0">
                                             <h5 class="fs-5 mb-3">
                                                <b class="fw-medium">Bags Specifications</b> <br>
                                             </h5>
                                             <table class="table table-borderless table-sm w-auto">
                                                <tbody>
                                                   <tr>
                                                      <td>Net Weight</td>
                                                      <td>:</td>
                                                      <td>1000g</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Dimension</td>
                                                      <td>:</td>
                                                      <td>175 x 80 x 300 mm</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                          <li class="list-group-item px-0">
                                             <h5 class="fs-5 mb-3">
                                                <b class="fw-medium">Carton Specifications</b> <br>
                                             </h5>
                                             <table class="table table-borderless table-sm w-auto">
                                                <tbody>
                                                   <tr>
                                                      <td>Content</td>
                                                      <td>:</td>
                                                      <td>15 bags</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Net Weight</td>
                                                      <td>:</td>
                                                      <td>15kg</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Gross Weight</td>
                                                      <td>:</td>
                                                      <td>16.3kg</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Dimension</td>
                                                      <td>:</td>
                                                      <td>534 x 275 x 350 mm</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div><!-- end accordion -->
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </div><!-- end col -->
                  <div class="col sticky-bottom bg-white py-3 buy-trigger d-none">
                     <a href="#" class="btn btn-lg btn-outline-dark rounded-0 w-100" style="max-width: 21rem;">
                        <i class="fas fa-shopping-cart"></i> Beli Sekarang
                     </a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-products-m, #nav-products-d').addClass('show');
   </script>

</body>

</html>