<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/products.css">
   <title>INDRACO &bull; Our Products Consumer</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-5 justify-content-center justify-content-lg-start" style="font-size: .875rem;">
                     <!-- <li class="breadcrumb-item"><a href="#">Products</a></li> -->
                     <li class="breadcrumb-item active" aria-current="page">Products</li>
                     <li class="breadcrumb-item active" aria-current="page">Consumer</li>
                  </ol>
               </nav><!-- end breadcrumb -->
               <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 28%;">
                              <img src="../assets/img/logo-supresso.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto w-50">
                              <img src="../assets/img/logo-balicafe.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto w-50">
                              <img src="../assets/img/logo-ucafe.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 40%;">
                              <img src="../assets/img/logo-rasa-sayang.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 48%;">
                              <img src="../assets/img/logo-tugu-buaya.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 30%;">
                              <img src="../assets/img/logo-uang-emas.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 40%;">
                              <img src="../assets/img/logo-jaheku.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 40%;">
                              <img src="../assets/img/logo-brochoco.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col">
                     <a href="products-brand.html">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 40%;">
                              <img src="../assets/img/logo-intirasa.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-products-m, #nav-products-d').addClass('show');
   </script>

</body>

</html>