<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/events.css">
   <title>INDRACO &bull; Official Store</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden" id="ecomm-section">
            <div class="container py-5 position-relative">
               <div class="row g-3 g-lg-4">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        E-commerce
                     </h5>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto w-75">
                              <img src="../assets/img/logo-indracostore.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto w-75">
                              <img src="../assets/img/logo-supresso-typograph.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden" id="market-section">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row g-3 g-lg-4">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        Marketplace
                     </h5>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 56%;">
                              <img src="../assets/img/logo-shopee.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 60%;">
                              <img src="../assets/img/logo-lazada.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto w-75">
                              <img src="../assets/img/logo-tokopedia.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 40%;">
                              <img src="../assets/img/logo-blibli.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
                  <div class="col col-12 col-sm-6 col-lg-4">
                     <a href="#" target="_blank">
                        <div class="card rounded-4 w-100 bg-whitesmoke border-0 ratio ratio-16x9">
                           <div class="position-absolute top-50 start-50 translate-middle h-auto" style="width: 70%;">
                              <img src="../assets/img/logo-tiktok.png" class="img-logo w-100 h-auto" alt="">
                           </div>
                        </div>
                     </a>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-store-m, #nav-store-d').addClass('show');
   </script>

</body>

</html>