<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/businesses.css">
   <title>INDRACO &bull; Our Businesses</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">jalur-jalur</span><br>
                        distribusi
                     </h5>
                     <p class="lead">
                        Kami mengandalkan sistem distribusi dengan beberapa jalur pendukung, membawa misi dan layanan kami ke seluruh penjuru negeri.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/businesses-domestic.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">peta distribusi domestik</b></h5>
                        </div>
                        <div>
                           <p>
                              Tim distributor kami bekerja sepenuh hati untuk mengantarkan pelayanan terbaik ke penjuru negeri.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/businesses-global.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">peta distribusi international</b></h5>
                        </div>
                        <div>
                           <p>
                              Kami sedang membangun jaringan distribusi internasional yang akan menjangkau lebih banyak negara, dimulai dari Asia.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">belanja</span><br>
                        online
                     </h5>
                     <p class="lead">
                        Portal belanja yang terintegrasi dengan user interface yang memudahkan konsumen mencari, memilih dan menikmati produk dan layanan kami. 
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/businesses-ecommerce.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">E-commerce</b></h5>
                        </div>
                        <div class="olshop-wording">
                           <p>
                              Katalog produk online kami hadir dengan harga terbaik, voucher, dan berbagai promo khusus untuk semua pengguna maupun komunitas pecinta kopi pada umumnya. 
                           </p>
                        </div>
                        <div>
                           <nav class="nav-olshop d-flex flex-wrap row-gap-3 column-gap-5">
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-indracostore.png" alt="">
                              </a>
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-supresso-typograph.png" alt="">
                              </a>
                           </nav>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-6">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/businesses-marketplace.svg" class="object-fit-contain" alt="">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">marketplace</b></h5>
                        </div>
                        <div class="olshop-wording">
                           <p>
                              Temukan produk-produk kami di marketplace popular di lokasi Anda.
                           </p>
                        </div>
                        <div>
                           <nav class="nav-olshop d-flex flex-wrap row-gap-3 column-gap-5">
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-tokopedia.png" alt="">
                              </a>
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-shopee.png" alt="">
                              </a>
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-lazada.png" alt="">
                              </a>
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-blibli.png" alt="">
                              </a>
                              <a href="#" target="_blank">
                                 <img src="../assets/img/logo-tiktok.png" alt="">
                              </a>
                           </nav>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">layanan</span><br>
                        F&B
                     </h5>
                     <p class="lead">
                        Layanan F&B yang kami jalankan menggunakan keahlian tim kami, berfokus pada pengalaman konsumen dalam menikmati kopi.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-4">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/logo-supresso.png" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">supresso gallery</b></h5>
                        </div>
                        <div>
                           <p>
                              Dapatkan pengalaman menikmati kopi dengan cara terbaik, dipandu dan dilayani oleh barista berbakat kami. Jelajahi kopi single-origin Indonesia dengan balutan rasanya yang lengkap. 
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-4">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/logo-supresso.png" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">supresso coffeehouse</b></h5>
                        </div>
                        <div>
                           <p>
                              Nikmati waktu berharga di Supresso Coffeehouse, buka setiap hari.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
                  <div class="col col-12 col-lg-4">
                     <div class="d-grid row-gap-3">
                        <div>
                           <div class="ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon">
                              <img src="../assets/img/logo-supresso.png" class="object-fit-contain" alt="" style="filter: grayscale(1);">
                           </div>
                        </div>
                        <div>
                           <h5 class="fs-4 text-capitalize mb-0"><b class="fw-medium">pandan garden</b></h5>
                        </div>
                        <div>
                           <p>
                              Sajian makanan asli Indonesia dengan kekayaan rempah dan tradisi santap yang berharga. Siap setiap hari untuk pengalaman terbaik Anda.
                           </p>
                        </div>
                     </div>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-businesses').addClass('show');
   </script>

</body>

</html>