<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/events.css">
   <title>INDRACO &bull; News & Events</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row row-gap-5 align-items-baseline gx-lg-5">
                  <div class="col col-12 col-lg-8 col-lg-7">
   
                     <h5 class="fs-1 text-capitalize lh-1 mb-4">
                        <b class="fw-medium">
                           china international import expo 2024
                        </b>
                     </h5>
                     <p>Datang dan sapa kami</p>
                     <table class="table table-borderless">
                        <tbody>
                           <tr>
                              <td class="p-0">No&nbsp;Booth</td>
                              <td class="py-0">:</td>
                              <td class="p-0">C2 - 08, Hall 1.2</td>
                           </tr>
                           <tr>
                              <td class="p-0">Tanggal</td>
                              <td class="py-0">:</td>
                              <td class="p-0">5-10 November 2024</td>
                           </tr>
                           <tr>
                              <td class="p-0">Venue</td>
                              <td class="py-0">:</td>
                              <td class="p-0">National Exhibition and Convention Center (NECC), Shanghai, China</td>
                           </tr>
                        </tbody>
                     </table>
                     <hr class="opacity-100 border-2">
                     <div class="ratio ratio-1x1 bg-whitesmoke w-100">
                        <img src="../assets/img/events-POSTER-CIIE.jpg" class="object-fit-contain" alt="">
                     </div>
                     
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6 col-lg-4">
                     
                     <h5 class="fs-5 mb-3"><b class="fw-medium">Kalender Acara</b></h5>
                     <ul class="list-group list-group-flush small" id="events-list">
                        <li class="list-group-item active">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                        <li class="list-group-item">
                           <script src="layout/card-events.js"></script>
                        </li>
                     </ul><!-- end news list -->
   
                  </div><!-- end col -->
               </div><!-- end row -->               
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-events').addClass('show');
   </script>

</body>

</html>