<!DOCTYPE html>
<html lang="en">

<head>
   <script src="layout/head.js"></script>
   <link rel="stylesheet" href="css/businesses.css">
   <title>INDRACO &bull; Machines & Equipment</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>

   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">mesin</span><br>
                        kopi
                     </h5>
                     <p class="lead text-justify">
                        Menjaga kualitas kopi tetap prima lewat proses cermat yang dilakukan dengan mesin kopi terbaik.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-1.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium"> Mesin kopi full-otomatis</b>
                           </h5>
                           <p class="text-justify">
                              Siapkan kopi dalam hitungan menit, dengan hanya tap pada mesin yang mudah penggunaannya. Bentuknya ergonomis dan bisa diandalkan setiap hari.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-2.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">mesin kopi semi-otomatis</b>
                           </h5>
                           <p class="text-justify">
                              Sajikan kopi dengan mudah, memanfaatkan mesin semi-otomatis yang terpercaya. Mudah digunakan, siap dalam hitungan menit.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-3.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">sistem seduh kopi</b>
                           </h5>
                           <p class="text-justify">
                              Dengan pengetahuan pakar kopi, kami mempersembahkan sistem penyeduhan kopi yang sesuai untuk berbagai keperluan dan metode penyajian. Semua demi kualitas dan rasa kopi terbaik.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-4.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">mesin kapsul kopi</b>
                           </h5>
                           <p class="text-justify">
                              Menyajikan kopi dengan lebih mudah. Mesin kapsul kopi yang mudah digunakan, hemat energi demi pengalaman kopi terbaik. 
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-5.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">grinder</b>
                           </h5>
                           <p class="text-justify">
                              Untuk penggunaan pribadi dan profesional, dapatkan manfaat terbaik dari mesin giling kopi kami, cara lebih baik dalam menyajikan aslinya rasa kopi.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">dispenser</span><br>
                        minuman
                     </h5>
                     <p class="lead text-justify">
                        Set dispenser minuman dengan teknologi terbaru untuk berbagai acara.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-6.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">mesin minuman instan</b>
                           </h5>
                           <p class="text-justify">
                              Jaga kualitas minuman tetap paling baik, dan sajikan lebih baik menggunakan mesin minuman instan kami.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-7.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">dispenser minuman dingin</b>
                           </h5>
                           <p class="text-justify">
                              Untuk berbagai jenis minuman segar! Dispenser minuman dingin kami telah siap untuk berbagai kegunaan, semua untuk kelancaran aktivitas Anda.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="overflow-hidden">
            <div class="container py-5 position-relative">
               <hr class="position-absolute top-0 w-100 m-0">
               <div class="row row-gap-5 gx-lg-5">
                  <div class="col col-12">
                     <h5 class="display-4 text-capitalize lh-sm mb-3">
                        <span class="fw-thin">aksesori</span>
                     </h5>
                     <p class="lead text-justify">
                        Dari mesin pengaduk susu sampai gelas berlapis dua, nikmati alat-alat tradisi kami yang beragam dengan keakuratan tinggi.
                     </p>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-8.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">mesin pengaduk susu</b>
                           </h5>
                           <p class="text-justify">
                              Menjaga kualitas produk susu Anda pada tingkat kesegaran paling tinggi. Koleksi alat pengaduk susu kami memudahkan Anda menikmati susu segar setiap hari.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-9.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">ketel elektrik</b>
                           </h5>
                           <p class="text-justify">
                              Menjaga kopi dan teh pada suhu optimum memerlukan dedikasi khusus. Ketel elektrik membuat suhu terjaga dalam waktu yang lebih lama, memastikan hasil seduhan tetap prima.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-10.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">french press</b>
                           </h5>
                           <p class="text-justify">
                              Sentuhan artistik dari alat French Press kini lebih dekat dengan keseharian Anda.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-11.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">moka pot</b>
                           </h5>
                           <p class="text-justify">
                              Menggunakan sistem aliran moka pot yang legendaris, metode seduh favorit kami menghasilkan produk dan pengalaman kopi yang nyata.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
                  <div class="col col-12 col-md-6">
                     <figure class="figure">
                        <div class="figure-img ratio ratio-1x1 rounded-circle bg-whitesmoke rounded-icon mb-3 overflow-hidden">
                           <img src="../assets/img/machine-12.svg" class="object-fit-contain" alt="">
                        </div>
                        <figcaption class="figure-caption">
                           <h5 class="fs-4 text-capitalize mb-3">
                              <b class="fw-medium">gelas berlapis dua</b>
                           </h5>
                           <p class="text-justify">
                              Sentuhan artistik dalam penyajian kopi, semua dalam bentuk gelas unik ini.
                           </p>
                        </figcaption>
                     </figure>
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   
   <script src="layout/modal-search.js"></script>
   <script src="js/custom.js"></script>
   <script>
      $('#nav-products-m, #nav-products-d').addClass('show');
   </script>

</body>

</html>