<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="../../asset/img/icon-indraco.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../asset/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../asset/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../../asset/fonts/HelveticaNeue/HelveticaNeue.css">
   <link rel="stylesheet" href="css/admin.css">
   <script src="../../asset/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../../asset/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   <title>INDRACO &bull; Super User</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>
   <div class="wrapper">

      <div id="sidebar" class="offcanvas offcanvas-start" z-index="-1">
         <div class="offcanvas-header sidebar-header container-fluid">
            <button class="btn-close d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></button>
         </div><!-- end sidebar header -->
         <div class="offcanvas-body sidebar-body container-fluid">
            <ul class="nav flex-column">
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">MENU</a>
               </li>
            </ul>
         </div><!-- end sidebar body -->
         <div class="offcanvas-header sidebar-footer container-fluid">
            SIDEBAR FOOTER
         </div><!-- end sidebar footer -->
      </div><!-- end sidebar -->

      <div class="page">
         <header class="page-header sticky-top">
            <nav class="navbar navbar-expand shadow">
               <div class="container-fluid">
                  <button class="toggler-sidebar d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                     <i class="fas fa-bars"></i>
                  </button>
                  <h1>
                     <div class="d-lg-none">
                        <a href="admin.html" class="navbrand">
                           <img src="../../asset/img/icon-indraco.ico" width="100%" height="auto" alt="">
                        </a>
                     </div>
                     <div class="d-none d-lg-bl">
                        <h1>
                           <a href="admin.html" class="navbrand">
                              <img src="../../asset/img/logo-indraco.png" class="img-default" width="100%" height="auto" alt="INDRACO">
                              <img src="../../asset/img/logo-indraco-invert.png" class="img-invert" width="100%" height="auto" alt="INDRACO">
                           </a>
                        </h1>
                     </div>
                  </h1>
                  <div class="navbar-collapse">
                     <form action=""></form>
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              <i class="fas fa-bell"></i>
                           </a>
                        </li><!-- end menu language -->
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              <i class="fas fa-bell"></i>
                           </a>
                        </li><!-- end menu notification -->
                        <li class="nav-item dropdown" id="theme-selector">
                           <button class="nav-link dropdown-toggle" type="button" aria-expanded="false">
                              <i class="fas fa-circle-half-stroke icon-auto"></i> Pilih Tema
                           </button>
                           <ul class="dropdown-menu">
                              <li data-theme="auto">
                                 <button class="nav-link" type="button">
                                    <i class="fas fa-circle-half-stroke icon-auto"></i> Otomatis
                                 </button>
                              </li>
                              <li data-theme="light">
                                 <button class="nav-link" type="button">
                                    <i class="fas fa-sun icon-light"></i> Terang
                                 </button>
                              </li>
                              <li data-theme="dark">
                                 <button class="nav-link" type="button">
                                    <i class="fas fa-moon icon-dark"></i> Gelap
                                 </button>
                              </li>
                           </ul>
                        </li><!-- end menu themes -->
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              <i class="fas fa-bell"></i>
                           </a>
                        </li><!-- end menu fullscreen -->
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              <i class="fas fa-bell"></i>
                           </a>
                        </li><!-- end menu account -->
                     </ul>
                  </div>
               </div><!-- end container -->
            </nav><!-- end navbar -->
         </header><!-- end page wrapper -->
         <main class="page-body container-fluid">
            <div class="page-section">
               <div class="section-item">
                  <p>
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia facilis officia eveniet aliquid esse temporibus harum atque molestiae? Labore voluptatum dolor dolorum officiis in error dicta at debitis nobis placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quis ullam voluptates dicta corporis et in unde aspernatur placeat consequatur. Mollitia, ab quaerat. Repellat fugit quia, veniam eveniet ipsam molestiae?
                     <br>
                     <br>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem nihil, deserunt dolor quo, veniam repellat aut dolorem ex ea eos ipsum? Voluptates dolore in doloribus iusto harum placeat nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam eum inventore non atque perferendis ut a sapiente, incidunt tenetur. Libero esse cumque incidunt dolorem explicabo repellat harum culpa consectetur.
                  </p>
               </div><!-- end section item -->
               <div class="section-item">
                  <div class="row">
                     <div class="col col-12 col-lg-6">
                        <div class="card">
                           <div class="card-header p-0 overflow-hidden">
                              <div class="ratio ratio-4x3 img-card text-bg-secondary"></div>
                           </div>
                           <div class="card-body">
                              <h5 class="card-title">Lorem ipsum dolor</h5>
                              <p class="card-text">
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur repellat velit inventore et! Quibusdam iure doloremque facere minima? Porro adipisci dolorem aut deleniti corporis sit eveniet, consectetur asperiores dolore!
                              </p>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col col-12">
                        <p>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veniam laboriosam tenetur dicta! Optio vero veniam, numquam sunt velit, aut nihil error earum voluptatum, laboriosam ipsa deserunt veritatis! Accusantium, maiores.
                        </p>
                        <p>
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum sint in aliquid vitae placeat. Veritatis minima expedita error suscipit deserunt placeat distinctio amet exercitationem optio. Facere nostrum exercitationem quibusdam tempora?
                        </p>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end section item -->
            </div><!-- end page section -->
         </main><!-- end page body -->
         <footer class="page-footer">
            <div class="footbar small">
               <div class="container-fluid">
                  <hr>
                  <p style="margin-bottom: 2rem;">
                     Hak cipta &copy; 2021 - <script>document.write(new Date().getFullYear())</script> INDRACO. Seluruh hak dilindungi undang-undang.
                  </p>
               </div><!-- end container -->
            </div><!-- end footbar -->
         </footer><!-- end page footer -->
      </div><!-- end page -->

   </div><!-- end page wrapper -->
   <script src="js/admin.js"></script>
</body>

</html>