<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="../../asset/img/icon-indraco.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../asset/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../asset/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../../asset/fonts/HelveticaNeue/HelveticaNeue.css">
   <link rel="stylesheet" href="css/admin.css">
   <script src="../../asset/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../../asset/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   <title>INDRACO &bull; Administrator</title>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="wrapper">

      <div id="sidebar" class="offcanvas offcanvas-start" z-index="-1">
         <div class="offcanvas-header sidebar-header container-fluid">
            <a href="admin.html" class="navbrand pt-lg-2">
               <img src="../../asset/img/logo-indraco.png" class="img-default" width="100%" height="auto" style="max-width: 8rem;" alt="INDRACO">
               <img src="../../asset/img/logo-indraco-invert.png" class="img-invert" width="100%" height="auto" style="max-width: 8rem;" alt="INDRACO">
            </a>
            <button class="btn-close d-lg-none rounded-0 border-0 shadow-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></button>
         </div><!-- end sidebar header -->
         <div class="offcanvas-body sidebar-body container-fluid">
            <ul class="list-group list-group-flush small" id="menu">
               <li class="list-group-item px-0 bg-transparent border-dark-subtle py-3">
                  <ul class="nav menu-list flex-column">
                     <li class="nav-item menu-item">
                        <a href="index.html" target="_blank" class="nav-link menu-link">
                           <span class="menu-icon"><i class="fas fa-globe-asia"></i></span>
                           <span>PREVIEW</span>
                        </a>
                     </li>
                     <li class="nav-item menu-item">
                        <a href="#" class="nav-link menu-link">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>EDIT CODE</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="list-group-item px-0 bg-transparent border-dark-subtle py-3">
                  <h5 class="text-reset opacity-50">
                     <b class="fw-medium">
                        Administration
                     </b>
                  </h5>
                  <ul class="nav menu-list flex-column">
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse0" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse0" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse1" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse1" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse2" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse2" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse3" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse3" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse4" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse4" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </li>
               <li class="list-group-item px-0 bg-transparent border-dark-subtle py-3">
                  <h5 class="text-reset opacity-50">
                     <b class="fw-medium">
                        Administration
                     </b>
                  </h5>
                  <ul class="nav menu-list flex-column">
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse5" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse5" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse6" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse6" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse7" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse7" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse8" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse8" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item menu-item">
                        <a data-bs-toggle="collapse" href="#collapse9" class="nav-link menu-link toggle-collapse collapsed">
                           <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                           <span>MENU</span>
                        </a>
                        <div class="collapse" id="collapse9" data-bs-parent="#menu">
                           <ul class="nav menu-list flex-column submenu">
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                              <li class="nav-item menu-item">
                                 <a href="#" class="nav-link menu-link">
                                    <span class="menu-icon"><i class="fas fa-user-clock"></i></span>
                                    <span>Submenu</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </li>
            </ul>
         </div><!-- end sidebar body -->
         <div class="offcanvas-header sidebar-footer container-fluid">
            <ul class="nav flex-column menu-list small">
               <li class="nav-item menu-item">
                  <a href="#" class="nav-link menu-link">
                     <span class="menu-icon"><i class="fas fa-gear"></i></span>
                     <span>SETTINGS</span>
                  </a>
               </li>
            </ul>
         </div><!-- end sidebar footer -->
      </div><!-- end sidebar -->

      <div class="page">
         <header class="page-header sticky-top">
            <nav class="navbar navbar-expand shadow shadow-sm small" style="padding-top: .75rem; padding-bottom: .75rem;">
               <div class="container-fluid column-gap-3 align-items-center">
                  <button class="toggler-sidebar d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                     <i class="fas fa-ellipsis-vertical fa-lg"></i>
                  </button>
                  <div class="d-lg-none">
                     <a href="admin.html" class="navbrand h-100">
                        <img src="../../asset/img/icon-indraco-invert.png" width="100%" height="auto" style="max-width: 2rem;" alt="INDRACO">
                     </a>
                  </div>
                  <div class="navbar-collapse column-gap-md-4 justify-content-end align-items-center">
                     <form action="" class="flex-lg-grow-1">
                        <button class="btn text-white d-md-none">
                           <i class="fas fa-search"></i>
                        </button>
                        <div class="input-group position-relative d-none d-md-flex" style="max-width: 24rem;">
                           <input type="search" class="form-control rounded-1 pe-5 z-1 bg-transparent text-white border-light" placeholder="Search">
                           <button class="btn position-absolute top-0 end-0 z-2 text-white">
                              <i class="fas fa-search"></i>
                           </button>
                        </div>
                     </form>
                     <ul class="navbar-nav flex-lg-grow-0 column-gap-2 align-items-center">
                        <li class="nav-item dropdown">
                           <button class="nav-link dropdown-toggle d-flex align-items-center column-gap-1 opacity-100" type="button" data-bs-toggle="dropdown" data-bs-target="#drop-lang" aria-expanded="false">
                              <img src="../../asset/img/flag-eng.png" width="16" height="16" alt="" class="d-none d-lg-inline"> <span>EN</span>
                           </button>
                           <ul class="dropdown-menu rounded-1 shadow" id="drop-lang">
                              <li>
                                 <a href="#" class="dropdown-item d-flex align-items-center column-gap-2">
                                    <img src="../../asset/img/flag-eng.png" width="16" height="16" alt=""> <span>English</span>
                                 </a>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <a href="#" class="dropdown-item d-flex align-items-center column-gap-2">
                                    <img src="../../asset/img/flag-ina.png" width="16" height="16" alt=""> <span>Indonesia</span>
                                 </a>
                              </li>
                           </ul>
                        </li><!-- end menu language -->
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              <i class="fas fa-bell"></i>
                           </a>
                        </li><!-- end menu notification -->
                        <li class="nav-item dropdown">
                           <button class="nav-link dropdown-toggle" id="bd-theme" data-bs-toggle="dropdown" data-bs-target="#drop-theme" aria-expanded="false">
                              <span class="theme-icon theme-icon-active">
                                 <i class="fas fa-circle-half-stroke"></i>
                              </span>
                              <span class="d-none ms-2" id="bd-theme-text">
                                 toggle theme
                              </span>
                           </button>
                           <ul class="dropdown-menu rounded-1 shadow" id="drop-theme" aria-labelledby="bd-theme-text">
                              <li>
                                 <button class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">
                                    <span class="me-2 opacity-50 theme-icon">
                                       <i class="fas fa-sun"></i>
                                    </span>
                                    Light
                                 </button>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <button class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">
                                    <span class="me-2 opacity-50 theme-icon">
                                       <i class="fas fa-moon"></i>
                                    </span>
                                    Dark
                                 </button>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <button class="dropdown-item" data-bs-theme-value="auto" aria-pressed="true">
                                    <span class="me-2 opacity-50 theme-icon">
                                       <i class="fas fa-circle-half-stroke"></i>
                                    </span>
                                    Auto
                                 </button>
                              </li>
                           </ul>
                        </li><!-- end menu themes -->
                        <li class="nav-item d-none d-lg-block">
                           <button class="nav-link" type="button">
                              <i class="fas fa-expand"></i>
                           </button>
                        </li><!-- end menu fullscreen -->
                        <li class="nav-item dropdown">
                           <button type="button" class="d-flex align-items-center column-gap-2" data-bs-toggle="dropdown" data-bs-target="#drop-account">
                              <div class="ratio ratio-1x1 rounded-circle overflow-hidden text-bg-light" style="width: 2rem;">
                                 <img src="../../asset/img/user.jpg" class="object-fit-cover" alt="">
                              </div>
                              <div class="text-start lh-1 d-none  d-lg-block">
                                 Yoggi Pradhokot <br>
                                 <small><small>Administrator</small></small>
                              </div>
                           </button>
                           <ul class="dropdown-menu rounded-1 shadow" id="drop-account">
                              <li>
                                 <a href="#" class="dropdown-item">
                                    <i class="fas fa-user me-2"></i><span>Sign In</span>
                                 </a>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <a href="#" class="dropdown-item">
                                    <i class="fas fa-user me-2"></i><span>Sign In</span>
                                 </a>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <a href="#" class="dropdown-item">
                                    <i class="fas fa-user me-2"></i><span>Sign In</span>
                                 </a>
                              </li>
                              <li><div class="dropdown-divider"></div></li>
                              <li>
                                 <a href="#" class="dropdown-item">
                                    <i class="fas fa-user me-2"></i><span>Sign In</span>
                                 </a>
                              </li>
                           </ul>
                        </li><!-- end menu account -->
                     </ul>
                  </div>
               </div><!-- end container -->
            </nav><!-- end navbar -->
         </header><!-- end page wrapper -->
         <main class="page-body container-fluid">
            <div class="page-section">
               <div class="section-item">
                  <p>
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia facilis officia eveniet aliquid esse temporibus harum atque molestiae? Labore voluptatum dolor dolorum officiis in error dicta at debitis nobis placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quis ullam voluptates dicta corporis et in unde aspernatur placeat consequatur. Mollitia, ab quaerat. Repellat fugit quia, veniam eveniet ipsam molestiae?
                     <br>
                     <br>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem nihil, deserunt dolor quo, veniam repellat aut dolorem ex ea eos ipsum? Voluptates dolore in doloribus iusto harum placeat nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam eum inventore non atque perferendis ut a sapiente, incidunt tenetur. Libero esse cumque incidunt dolorem explicabo repellat harum culpa consectetur.
                  </p>
               </div><!-- end section item -->
               <div class="section-item">
                  <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-3">
                     <div class="col">
                        <div class="card">
                           <div class="card-header p-0 overflow-hidden">
                              <div class="ratio ratio-4x3 card-img text-bg-secondary"></div>
                           </div>
                           <div class="card-body">
                              <h5 class="card-title">Lorem ipsum dolor</h5>
                              <p class="card-text">
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur repellat velit inventore et! Quibusdam iure doloremque facere minima? Porro adipisci dolorem aut deleniti corporis sit eveniet, consectetur asperiores dolore!
                              </p>
                           </div>
                        </div>
                     </div><!-- end col -->
                     <div class="col">
                        <div class="card">
                           <div class="card-header p-0 overflow-hidden">
                              <div class="ratio ratio-4x3 card-img text-bg-secondary"></div>
                           </div>
                           <div class="card-body">
                              <h5 class="card-title">Lorem ipsum dolor</h5>
                              <p class="card-text">
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aspernatur repellat velit inventore et! Quibusdam iure doloremque facere minima? Porro adipisci dolorem aut deleniti corporis sit eveniet, consectetur asperiores dolore!
                              </p>
                           </div>
                        </div>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </div><!-- end section item -->
            </div><!-- end page section -->
         </main><!-- end page body -->
         <footer class="page-footer">
            <div class="footbar small">
               <div class="container-fluid">
                  <hr>
                  <p class="opacity-75" style="margin-bottom: 2rem;">
                     Hak cipta &copy; 2021 - <script>document.write(new Date().getFullYear())</script> INDRACO. Seluruh hak dilindungi undang-undang.
                  </p>
               </div><!-- end container -->
            </div><!-- end footbar -->
         </footer><!-- end page footer -->
      </div><!-- end page -->

   </div><!-- end page wrapper -->
   <script src="js/admin.js"></script>
</body>
</html>