<!DOCTYPE html>
<html lang="en">

<head>
	<script src="layout/head.js"></script>
	<link rel="stylesheet" href="css/landing.css">
	<title>INDRACO &bull; Beranda</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
	</style>
</head>

<body>
	<div class="wrapper">

		<div class="page">
			<header class="page-header">
				<script src="layout/navbar.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body">
				<div class="jumbotron">
					<div class="carousel carousel-fade" id="home-banner">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="carousel-caption">
									<div class="container">
										<h5 class="display-4 fw-thin">
											Inovasi & <br><b class="fw-medium">Masa Depan.</b>
										</h5>
									</div><!-- end container -->
								</div>
							</div>
						</div><!-- end carousel inner -->
					</div><!-- home banner -->
				</div><!-- end jumbotron -->
				<div class="page-section container">
					<div class="section-item">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga qui magnam mollitia adipisci corrupti officia alias. Vitae eaque eius quos quo perferendis itaque laudantium explicabo cupiditate culpa, ipsam nam facilis.
						</p>
					</div><!-- end section item -->
					<div class="section-item">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque blanditiis consectetur fugiat dolore beatae repudiandae rerum expedita voluptates earum, ratione non harum pariatur ab sapiente molestias enim? Nesciunt, nihil tenetur!
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci atque odio dolores ratione consequatur qui laboriosam molestias accusamus veniam voluptates eveniet ad voluptatibus vitae veritatis, libero nesciunt ullam omnis suscipit!
						</p>
					</div><!-- end section item -->
				</div><!-- end page section -->
			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->

	</div><!-- end wrapper -->
	<script src="js/script.js"></script>
	<script>
		// invert navbar
		$('.navbar').addClass('nav-invert');

		// full height banner
		const screenHeight = $(window).height();
		$('#home-banner .carousel-item').height(screenHeight);
	</script>
</body>

</html>