#home-products-list > .col {
   @media (min-width: 992px) {
      &:nth-child(1) {
         order: 2;
      }
      &:nth-child(2) {
         order: 1;
      }
      &:nth-child(3) {
         order: 3;
      }
      &:nth-child(4) {
         order: 4;
      }
      &:nth-child(5) {
         order: 6;
      }
      &:nth-child(6) {
         order: 5;
      }
      &:nth-child(7) {
         order: 7;
      }
      &:nth-child(8) {
         order: 8;
      }
      &:nth-child(9) {
         order: 10;
      }
      &:nth-child(10) {
         order: 9;
      }
      &:nth-child(11) {
         order: 11;
      }
      &:nth-child(12) {
         order: 12;
      }
      &:nth-child(13) {
         order: 14;
      }
      &:nth-child(14) {
         order: 13;
      }
   }
}

#home-brands-list .ratio {
   background-color: var(--color-light);

   .brands-img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 86%;
      height: auto;
   }
}