@media (min-width: 992px) {
   .wrapper-desktop-right {
      position: relative;
      padding-bottom: 2rem;
   }

   .trigger-input-code {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
   }
}