#events-list .list-group-item {
   padding-left: 0;
   padding-right: 0;
   background-color: transparent;
   opacity: .75;
   transition: all .36s ease-in-out;
   padding: .5rem 0;
}

#events-list .list-group-item:hover,
#events-list .list-group-item.active {
   padding: .5rem .75rem;
   background-color: var(--color-light);
   color: #000;
   opacity: 1;
   border-color: transparent;
}

#events-list .list-group-item a {
   color: inherit;
}

.card-news {
   display: flex;
   flex-wrap: nowrap;
   column-gap: 1rem;
}

.card-news .ratio {
   width: 60px;
}