:root {
   --bg-body: #ffffff;
   --color-body: #373737;
   --color-primary: #fd4f00;
   --color-light: #f1f2f2;
   --color-light-subtle: #d1d2d2;
   --color-dark: #565656;
   --color-dark-subtle: #767676;
   --border-color: var(--color-body);
   --border-opacity: .25;
   --container-px: 1rem;
   --transition-default: .3s ease-in-out;
}

hr {
   width: 100%;
   border-color: var(--border-color);
   opacity: var(--border-opacity);
   border-left-width: 0;
   border-right-width: 0;
   border-bottom-width: 0;
}

.nav-link {
   text-transform: capitalize;
   transition: var(--transition-default);
}

.nav-divider>.nav-item {
   position: relative;

   &::after {
      content: '';
      height: 1.5em;
      border-right: solid 1px var(--border-color);
      opacity: var(--border-opacity);
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      transition: var(--transition-default);
   }

   &:last-of-type::after {
      opacity: 0;
   }
}

.w-lg-100 {
   @media (min-width: 992px) {
      width: 100%;
   }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   padding-left: var(--container-px);
   padding-right: var(--container-px);
}

.dropdown:hover>.dropdown-menu {
   @media (min-width: 992px) {
      display: block;
   }
}

.text-justify {
   text-align: justify;
   hyphens: auto;
   word-wrap: break-word;
}

.banner {
   min-height: 640px;
}

.fs-small {
   font-size: small;
}


/* ------------------------ page */
.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   /* ------------------------ page header */
   .page-header {
      flex-grow: 0;

      .navbar {
         background-color: transparent;
         transition: var(--transition-default);
         transform: none;
         color: var(--color-body);

         &.invert {
            color: var(--bg-body);
         }

         &.on-scroll, &.drop-show {
            background-color: var(--bg-body);
            color: var(--color-body);
         }

         &.toggle-scroll {
            transform: translateY(-99%);
         }

         .img-default,
         &.invert.on-scroll .img-default,
         &.invert.drop-show .img-default {
            display: inline;
         }
         .img-invert,
         &.invert.on-scroll .img-invert,
         &.invert.drop-show .img-invert {
            display: none;
         }

         &.invert .img-default {
            display: none;
         }
         &.invert .img-invert {
            display: inline;
         }

         .nav-link, .btn {
            color: inherit !important;
         }
         .nav-link>span, .btn>span {
            color: inherit;
            opacity: .75;
         }
         .nav-link:hover>span, .btn:hover>span {
            opacity: 1;
         }
         .nav-link.active>span, .btn.active>span {
            opacity: 1;
            color: var(--color-primary);
         }
         
         .navbar-top {
            padding-top: 1rem;
            padding-bottom: 1rem;
   
            @media (min-width: 992px) {
               padding-top: 2.5rem;
               padding-bottom: 2rem;
            }

            .btn>span {
               @media (max-width: 991.98px) {
                  opacity: 1;
               }
            }
            
            .navbar-brand {
               display: flex;
               margin: 0;
               
               >img {
                  max-width: 10rem;
         
                  @media (min-width: 992px) {
                     max-width: 14rem;
                  }
               }
            }/* end navbar brand */
         }/* end navbar top */

         .navbar-bottom {
            .menu-link {
               text-transform: uppercase;
      
               @media (min-width: 992px) {
                  padding-left: var(--container-px);
                  padding-right: var(--container-px);
               }
            }

            .dropdown {
               @media (min-width: 992px) {
                  & .dropdown-menu {
                     position: fixed;
                     left: 0;
                     right: 0;
                     width: 100%;
                     z-index: 10;
                     padding-top: 2rem;
                     padding-bottom: 2.5rem;
                     display: block;
                     opacity: 0;
                     visibility: hidden;
                     transition: var(--transition-default);
                  }

                  &:hover .dropdown-menu {
                     opacity: 1;
                     visibility: visible;
                  }

                  &:hover>.dropdown-toggle>span {
                     opacity: 1;
                  }
               }
         
               .dropdown-toggle {
                  position: relative;
                  cursor: pointer;

                  &.show>span {
                     opacity: 1;
                  }
                  
                  &::after {
                     position: absolute;
                     top: 50%;
                     left: 100%;
                     transform: translate(-1rem, -50%);
                  }

                  @media (min-width: 992px) {
                     &::after {
                        display: none;
                     }
                  }
               }
            }/* end dropdown */

            .nav-pills {
               @media (min-width: 1200px) {
                  min-width: 14rem;
               }
               
               .nav-link {
                  padding: 0;
                  border-radius: 0;
                  display: flex;
                  align-items: center;

                  span {
                     width: 100%;
                     padding: .5rem 1.5rem .5rem 0;
                     white-space: nowrap;

                     @media (min-width: 992px) {
                        position: relative;
                        opacity: .5;

                        &.active {
                           opacity: 1;
                        }

                        &::after {
                           content: '\f054';
                           font-family: 'FontAwesome';
                           position: absolute;
                           top: 50%;
                           right: 1rem;
                           transform: translateY(-50%);
                           opacity: 0;
                           transition: var(--transition-default);
                        }

                        &.active::after {
                           right: 0;
                           opacity: 1;
                        }

                        &.disabled::after {
                           opacity: 0;
                        }
                     }
                  }
               }
            }/* end nav pills */

            .tab-col {
               @media (max-width: 991.98px) {
                  flex: 0 0 auto;
                  width: 100%;
               }

               @media (min-width: 992px) {
                  position: relative;
                  
                  &::before {
                     content: '';
                     height: 100%;
                     border-left: solid 1px var(--border-color);
                     position: absolute;
                     top: 0;
                     left: 0;
                     bottom: 0;
                     transform: translateX(-50%);
                     opacity: var(--border-opacity);
                  }

                  &:first-of-type::before {
                     opacity: 0;
                  }

                  &:first-of-type {
                     flex:
                        0 0 auto;
                     width: auto;
                  }
               }
            }

            .tab-content {
               @media (max-width: 991.98px) {
                  display: none;
               }
            }/* end tab content */
         }/* end navbar bottom */

         .nav-divider>.nav-item::after {
            border-color: inherit;

            @media (max-width: 991.98px) {
               opacity: 0;
            }
         }

         .navtop {
            @media (min-width: 992px) {
               margin-right: -.75rem;

               .nav-link {
                  padding-left: .75rem;
                  padding-right: .75rem;
               }
            }
         }/* end navtop */

         .menu-thumbnails {
            max-width: 24rem;
         }
      }/* end navbar */
   }/* end page header */

   /* ------------------------ page body */
   .page-body {
      flex-grow: 1;
      font-size: 1em;

      @media (min-width: 1400px) {
         font-size: 1.125em;
      }

      .section-wrapper {
         padding: 3rem 0;
         position: relative;

         @media (min-width: 992px) {
            padding: 5rem 0;
         }

         .section-line {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0;
         }
      }/* end section wrapper */
   }/* end page body */

   /* ------------------------ page footer */
   .page-footer {
      flex-grow: 0;

      .footbar {
         background-color: var(--color-light);

         .nav-sosmed {
            display: flex;
            flex-wrap: wrap;
            gap: .75rem;

            a {
               color: inherit;
               width: 2rem;
               height: 2rem;
               display: flex;
               justify-content: center;
               align-items: center;
               text-decoration: none;
               position: relative;
               line-height: 1;

               &::before {
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                  border: solid 2px var(--border-color);
                  opacity: .75;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(1);
                  transition: .3s ease-in-out;
               }
               
               &>i {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(1);
                  transition: .3s ease-in-out;
               }
               
               @media (min-width: 992px) {
                  &:hover::before {
                     transform: translate(-50%, -50%) scale(.5);
                     opacity: 0;
                  }
                  
                  &:hover>i {
                     color: var(--color-primary);
                     transform: translate(-50%, -50%) scale(2);
                  }
               }
            }
         }/* end nav sosmed */

         address {
            margin: 0;

            a {
               color: inherit;
               text-decoration: none;
               opacity: .75;
   
               &:hover {
                  opacity: 1;
                  text-decoration: underline;
               }
            }
         }

         .products-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-transform: uppercase;
            max-height: 10rem;
            min-width: 18rem;
            row-gap: .25rem;
            column-gap: 2rem;
            margin: 0;

            @media (min-width: 992px) {
               row-gap: .5rem;
            }

            &>li {
               position: relative;

               &::before {
                  content: '\f054';
                  font-family: 'FontAwesome';
                  margin-right: .25rem;
                  font-size: .75em;
                  color: inherit;
                  opacity: .5;
               }
            }

            a {
               text-decoration: none;
               color: inherit;
               opacity: .75;

               &:hover {
                  opacity: 1;
                  text-decoration: underline;
               }

               &.active {
                  color: var(--color-primary);
               }
            }
         }/* end product list */

         .nav-policy {
            text-transform: capitalize;

            a {
               text-decoration: none;
               color: inherit;
               opacity: .75;
               position: relative;

               &::after {
                  content: '|';
                  color: inherit;
                  padding: 0 .5rem;
                  opacity: .5;
               }

               &:last-of-type::after {
                  opacity: 0;
               }
            }

            a:hover {
               opacity: 1;
               text-decoration: underline;
            }
         }/* end nav policy */
      }/* end footbar */
   }/* end page footer */
}/* ------------------------ end page */