<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INDRACO &bull; Home</title>
	<link rel="shortcut icon" href="../../asset/img/icon-indraco.ico" type="image/x-icon">
	<link rel="stylesheet" href="../../asset/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../asset/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
	<link rel="stylesheet" href="../../asset/fonts/HelveticaNeue/HelveticaNeue.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="../../asset/vendors/jquery-3.7.1.min.js.js"></script>
	<script src="../../asset/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header"></header><!-- end page wrapper -->
			<main class="page-content"></main><!-- end page content -->
			<footer class="page-footer"></footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/script.js"></script>
</body>
</html>