<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>UCAFÉ Coffee &bull; Instant Cappuccino</title>
   <link rel="shortcut icon" href="../assets/img/icon-ucafe.ico" type="image/x-icon">
   <link rel="stylesheet" href="../assets/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../assets/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../assets/fonts/Futura/Futura.css">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/detail.css">
   <script src="../assets/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../assets/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>
<body>
   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
         <script src="layout/navside.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section class="py-5" id="detail-product">
            <div class="container">
               <div class="row row-cols-1 row-gap-4 row-cols-lg-2 align-items-lg-center gx-lg-5">
                  <div class="col">

                     <div class="sticky-lg-top">
                        <div id="carousel-detail-product" class="carousel slide" data-bs-ride="false">
                           <div class="carousel-inner">
                              <div class="carousel-item">
                                 <div class="ratio ratio-1x1">
                                    <img src="../assets/img/instant-cappuccino-1.png" class="img-fluid w-100" alt="">
                                 </div>
                              </div><!-- end carousel item -->
                              <div class="carousel-item">
                                 <div class="ratio ratio-1x1">
                                    <img src="../assets/img/instant-cappuccino-2.png" class="img-fluid w-100" alt="">
                                 </div>
                              </div><!-- end carousel item -->
                              <div class="carousel-item">
                                 <div class="ratio ratio-1x1">
                                    <img src="../assets/img/instant-cappuccino-3.png" class="img-fluid w-100" alt="">
                                 </div>
                              </div><!-- end carousel item -->
                           </div><!-- carousel inner -->
                           <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carousel-detail-product" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                           </button>
                           <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carousel-detail-product" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                           </button>
                        </div><!-- end carousel detail product -->
                     </div>

                  </div><!-- end col -->
                  <div class="col">
                     <div class="row gx-lg-5">
                        <div class="col col-auto d-none d-lg-block">
                           <div class="vr h-100"></div>
                        </div><!-- end col -->
                        <div class="col col-12 col-lg">
                           <div id="product-specification" class="list-unstyled m-0 d-flex flex-column row-gap-3">
                              <h2 class="display-6 text-uppercase">
                                 <b class="fw-medium">
                                    UCAFÉ cappuccino <br> instant coffee
                                 </b>
                              </h2>
                              <p class="lead">
                                 Instant coffee drink cappuccino flavor with chocolate granule 
                              </p>
                              <p class="text-justify text-capitalize">
                                 Sugar, non dairy creamer, maltodextrin, instant coffee, chocolate granule, salt, milk powder, cocoa powder, synthetic cappuccino flavor.
                              </p>
                              <p>
                                 Net. weight <br> 25g
                              </p>
                              <nav id="nav-marketplace" class="d-flex flex-wrap gap-3 column-gap-md-4">
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-store.js"></script>
                                 </a>
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-lazada.js"></script>
                                 </a>
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-shopee.js"></script>
                                 </a>
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-tokopedia.js"></script>
                                 </a>
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-jd.js"></script>
                                 </a>
                                 <a href="#" target="_blank" class="text-decoration-none">
                                    <script src="../assets/img/marketplace/icon-blibli.js"></script>
                                 </a>
                              </nav>
                           </div><!-- end product specification -->
                        </div><!-- end col -->
                     </div><!-- end row -->
                  </div>
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
         <section class="py-5" id="related-product">
            <div class="container">
               <h5 class="fs-3 mb-5">
                  <b class="fw-medium">
                     Related Product
                  </b>
               </h5>

               <div id="carousel-related-product" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
                  <div class="carousel-inner text-center">
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                     <div class="carousel-item">
                        <div class="col">
                           <script src="layout/product-slider-item.js"></script>
                        </div><!-- end col -->
                     </div><!-- end carousel item -->
                  </div><!-- end carousel inner -->
                  <button class="carousel-control carousel-control-prev w-auto" type="button" data-bs-target="#carousel-related-product" data-bs-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control carousel-control-next w-auto" type="button" data-bs-target="#carousel-related-product" data-bs-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="visually-hidden">Next</span>
                  </button>
               </div><!-- end carousel related product -->

            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   <script src="js/custom.js"></script>
</body>
</html>