<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>UCAFÉ Coffee &bull; Find Us</title>
   <link rel="shortcut icon" href="../assets/img/icon-ucafe.ico" type="image/x-icon">
   <link rel="stylesheet" href="../assets/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../assets/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../assets/fonts/Futura/Futura.css">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/detail.css">
   <script src="../assets/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../assets/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>
   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
         <script src="layout/navside.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">
         <section>
            <div class="container py-5">
               <div class="row row-cols-1 row-gap-5">
                  <div class="col"></div><!-- end col -->
                  <div class="col"></div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>
      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   <script src="js/custom.js"></script>
</body>

</html>