<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>UCAFÉ Coffee &bull; Your Best Coffee Friend</title>
   <link rel="shortcut icon" href="../assets/img/icon-ucafe.ico" type="image/x-icon">
   <link rel="stylesheet" href="../assets/vendors/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../assets/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../assets/fonts/Futura/Futura.css">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/landing.css">
   <script src="../assets/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../assets/vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   <style>
      * {
         outline: solid 1px green;
         outline: solid 1px transparent;
      }
   </style>
</head>

<body>
   <div class="page">
      <header class="page-header">
         <script src="layout/navbar.js"></script>
         <script src="layout/navside.js"></script>
      </header><!-- end page wrapper -->
      <main class="page-content">

         <section class="py-5" id="instant-series">
            <div class="container">
               <header class="mb-5">
                  <h5 class="display-5">
                     <b class="fw-medium">
                        INSTANT <br class="d-none d-md-block"> SERIES
                     </b>
                  </h5>
                  <a href="detail.html">
                     MORE DETAILS <i class="fas fa-chevron-right"></i>
                  </a>
               </header>
               <main>
                  <div class="product-list">
                     <div class="product-item">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-instant-cappuccino.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-instant-cappuccino.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-instant-long.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-instant-original.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-instant-original.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-instant-short.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-instant-hazelnut.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-instant-hazelnut.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-instant-short.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-instant-mochaccino.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-instant-mochaccino.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-instant-short.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-instant-vanilla-latte.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-instant-vanilla-latte.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-instant-short.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                  </div><!-- end product list -->
               </main>
            </div><!-- end container -->
         </section>

         <section id="nosugar-series" class="p-0">
            <div class="container-fluid p-0">
               <div class="w-50" style="max-width: 21rem;">
                  <img src="../assets/img/home-nosugar-badge.png" width="100%" height="auto" alt="">
               </div>
            </div><!-- end container -->
            <div class="container">
               <header class="mb-5">
                  <h5 class="display-5">
                     <b class="fw-medium">
                        NO SUGAR <br class="d-none d-md-block"> SERIES
                     </b>
                  </h5>
                  <a href="detail.html">
                     MORE DETAILS <i class="fas fa-chevron-right"></i>
                  </a>
               </header>
               <main>
                  <div class="product-list">
                     <div class="product-item" id="nosugar-coffeecreamer">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-nosugar-coffeecreamer.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-nosugar-coffeecreamer.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-nosugar.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item" id="nosugar-cappuccino">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-nosugar-cappuccino.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-nosugar-cappuccino.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-nosugar.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                  </div><!-- end product list -->
               </main>
            </div><!-- end container -->
            <div class="container-fluid p-0">
               <div class="row g-0 row-cols-1 row-cols-lg-2">
                  <div class="col d-none d-lg-block">
                     <img src="../assets/img/home-nosugar-motif.png" width="100%" height="auto" alt="">
                  </div><!-- end col -->
                  <div class="col">
                     <img src="../assets/img/home-nosugar-motif.png" width="100%" height="auto" alt="">
                  </div><!-- end col -->
               </div><!-- end row -->
            </div><!-- end container -->
         </section>

         <section id="pure-series">
            <div class="container">
               <header class="mb-5">
                  <h5 class="display-5">
                     <b class="fw-medium">
                        PURE COFFEE <br class="d-none d-md-block"> SERIES
                     </b>
                  </h5>
                  <a href="detail.html">
                     MORE DETAILS <i class="fas fa-chevron-right"></i>
                  </a>
               </header>
               <main>
                  <div class="product-list">
                     <div class="product-item" id="pure-7g">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-pure-7g.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-pure-7g.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-pure-7g.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item" id="pure-150g">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-pure-150g.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-pure-150g.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-pure-150g.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                     <div class="product-item" id="pure-140g">
                        <a href="#" class="product-link">
                           <img src="../assets/img/home-pure-140g.png" width="100%" height="auto" alt="">
                        </a><!-- end product link -->
                        <div class="product-masking">
                           <img src="../assets/img/home-pure-140g.png" width="100%" height="auto" alt="">
                        </div><!-- end product masking -->
                        <div class="product-shadow">
                           <img src="../assets/img/home-shadow-pure-140g.png" width="100%" height="auto" alt="">
                        </div><!-- end product shadow -->
                     </div><!-- end product item -->
                  </div><!-- end product list -->
               </main>
            </div><!-- end container -->
            <div class="container-xxl">
               <div class="w-75" style="max-width: 36rem;">
                  <img src="../assets/img/home-pure-beans.png" width="100%" height="auto" alt="">
               </div>
            </div><!-- end container -->
         </section>

      </main><!-- end page content -->
      <footer class="page-footer">
         <script src="layout/footbar.js"></script>
      </footer><!-- end page footer -->
   </div><!-- end page -->
   <script src="js/custom.js"></script>
</body>

</html>